workflows.json
[{"updatedAt":"2026-03-04T18:14:41.780Z","createdAt":"2026-02-11T15:55:59.379Z","id":"bF7qxeuS7MR6NYTpccznT","name":"AI agent chat","description":null,"active":false,"isArchived":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"52cb0054-f023-4304-ade0-b2b2cf12d133","activeVersionId":null,"versionCounter":29,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-11T15:55:59.387Z","createdAt":"2026-02-11T15:55:59.387Z","role":"workflow:owner","workflowId":"bF7qxeuS7MR6NYTpccznT","projectId":"LZWJDGkejcu9c8Og","project":{"updatedAt":"2026-02-11T15:44:04.045Z","createdAt":"2026-02-10T18:40:23.427Z","id":"LZWJDGkejcu9c8Og","name":"CAINÃ ATAIDE <cainaataide48@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d242ea6d-9447-45db-a8a4-19443875d0cc"}}]},{"updatedAt":"2026-03-03T16:03:47.591Z","createdAt":"2026-03-03T16:01:07.517Z","id":"t0zJRQqNlvTc3wVUA0Pa9","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2c8f58a4-b317-40c9-a1b3-b2eceac9b562","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T16:01:07.524Z","createdAt":"2026-03-03T16:01:07.524Z","role":"workflow:owner","workflowId":"t0zJRQqNlvTc3wVUA0Pa9","projectId":"LZWJDGkejcu9c8Og","project":{"updatedAt":"2026-02-11T15:44:04.045Z","createdAt":"2026-02-10T18:40:23.427Z","id":"LZWJDGkejcu9c8Og","name":"CAINÃ ATAIDE <cainaataide48@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d242ea6d-9447-45db-a8a4-19443875d0cc"}}]},{"updatedAt":"2026-03-04T18:43:38.858Z","createdAt":"2026-03-04T18:43:38.858Z","id":"g8kfybV0IjGrZAeye0bm2","name":"FUBEN - Bot WhatsApp Saúde","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","responseMode":"lastNode","options":{}},"id":"20cc797d-a6ef-404b-803c-770cdb8dbdef","name":"WhatsApp Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,192],"webhookId":"fuben-waha-webhook"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"phone","value":"={{ $json.body.payload.from.replace('@c.us', '') }}","type":"string"},{"id":"a2","name":"message","value":"={{ $json.body.payload.body }}","type":"string"},{"id":"a3","name":"chatId","value":"={{ $json.body.payload.from }}","type":"string"}]},"options":{}},"id":"718301e5-13f1-48ef-958d-fde16d37a5c1","name":"Extrair Dados da Mensagem","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,192]},{"parameters":{"operation":"executeQuery","query":"SELECT id, nome, cpf, telefone, plano, data_nascimento FROM pacientes WHERE telefone = '{{ $json.phone }}' AND plano_ativo = true LIMIT 1","options":{}},"id":"e2dd6865-7cd8-4baf-8f62-8e6f760ae358","name":"Verificar Cadastro FUBEN","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,192]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"1d9fa030-7739-4ad9-ad54-b85527f6b47c","name":"Paciente Cadastrado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,192]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $('Extrair Dados da Mensagem').item.json.chatId }}\",\n  \"text\": \"Ol\\u00e1! 👋\\n\\nN\\u00e3o encontramos seu cadastro ativo no plano *FUBEN*.\\n\\nPara continuar sendo atendido, entre em contato com a central:\\n📞 (98) 0000-0000\\n\\nObrigado!\",\n  \"session\": \"default\"\n}","options":{}},"id":"5b9d4921-078c-49b2-9bb2-88318f64811b","name":"Enviar - Não Cadastrado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,352]},{"parameters":{"operation":"executeQuery","query":"SELECT a.id, a.tipo, a.especialidade, a.data_hora, a.medico, a.local, a.status FROM agendamentos a WHERE a.paciente_id = {{ $('Verificar Cadastro FUBEN').item.json.id }} AND a.data_hora >= NOW() AND a.status NOT IN ('cancelado') ORDER BY a.data_hora ASC LIMIT 5","options":{}},"id":"2c7fbfbd-4613-4e17-8873-e6d81e34d893","name":"Buscar Agendamentos do Paciente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT h.id, h.tipo, h.especialidade, h.medico, h.data_hora, h.local, h.vagas_disponiveis FROM horarios_disponiveis h WHERE h.vagas_disponiveis > 0 AND h.data_hora >= NOW() AND h.data_hora <= NOW() + INTERVAL '30 days' ORDER BY h.especialidade, h.data_hora ASC LIMIT 20","options":{}},"id":"05006d61-9b6f-4ef2-b4ae-ef911e7b251d","name":"Buscar Vagas Disponíveis","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,144]},{"parameters":{"mode":"combine","options":{}},"id":"c5b78e39-9b6c-43a6-aa0d-fbebf0ce7be3","name":"Combinar Contexto","type":"n8n-nodes-base.merge","typeVersion":3,"position":[224,80]},{"parameters":{"jsCode":"const agendamentos = $('Buscar Agendamentos do Paciente').all();\nconst vagas = $('Buscar Vagas Disponíveis').all();\nconst paciente = $('Verificar Cadastro FUBEN').first().json;\nconst mensagem = $('Extrair Dados da Mensagem').first().json.message;\nconst chatId = $('Extrair Dados da Mensagem').first().json.chatId;\n\nlet agendamentosTexto = 'Nenhum agendamento futuro encontrado.';\nif (agendamentos.length > 0 && agendamentos[0].json.id) {\n  agendamentosTexto = agendamentos.map(a => \n    `ID:${a.json.id} | ${a.json.tipo} | ${a.json.especialidade} | Dr(a). ${a.json.medico} | ${new Date(a.json.data_hora).toLocaleString('pt-BR')} | ${a.json.local} | Status: ${a.json.status}`\n  ).join('\\n');\n}\n\nlet vagasTexto = 'Nenhuma vaga disponível no momento.';\nif (vagas.length > 0 && vagas[0].json.id) {\n  vagasTexto = vagas.map(v => \n    `ID:${v.json.id} | ${v.json.tipo} | ${v.json.especialidade} | Dr(a). ${v.json.medico} | ${new Date(v.json.data_hora).toLocaleString('pt-BR')} | ${v.json.local} | Vagas: ${v.json.vagas_disponiveis}`\n  ).join('\\n');\n}\n\nreturn [{\n  json: {\n    chatId,\n    mensagem,\n    pacienteId: paciente.id,\n    pacienteNome: paciente.nome,\n    pacientePlano: paciente.plano,\n    agendamentosTexto,\n    vagasTexto\n  }\n}];"},"id":"b5943a12-fc13-45d0-b07e-800b09eaea86","name":"Preparar Contexto para IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,80]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é o FubenBot, assistente virtual da FUBEN - Fundação de Benefícios.\n\n## PACIENTE ATUAL\nNome: {{ $json.pacienteNome }}\nPlano: {{ $json.pacientePlano }}\nID: {{ $json.pacienteId }}\nChatId: {{ $json.chatId }}\n\n## AGENDAMENTOS FUTUROS DO PACIENTE\n{{ $json.agendamentosTexto }}\n\n## VAGAS DISPONÍVEIS (próximos 30 dias)\n{{ $json.vagasTexto }}\n\n## SUAS CAPACIDADES\n1. **Ver agendamentos**: Informe os agendamentos futuros do paciente\n2. **Agendar consulta/exame**: Use os IDs das vagas disponíveis acima\n3. **Enviar mensagem**: Responda dúvidas gerais sobre o plano\n\n## INSTRUÇÕES IMPORTANTES\n- Sempre use o nome do paciente\n- Seja cordial e objetivo\n- Para agendar, sempre confirme com o paciente antes de marcar\n- Quando o paciente confirmar um agendamento, use a ferramenta de agendamento com o ID correto da vaga\n- Apresente as opções de forma organizada com emojis\n- Responda sempre em português"}},"id":"ca2037f9-adcb-4532-b08c-02bc51d4a4a6","name":"AI Agent - FUBEN","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[640,80]},{"parameters":{"model":"gpt-4o","options":{"maxTokens":1000,"temperature":0.4}},"id":"1850c53a-f973-47b1-b455-dc4fcc231169","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[528,288]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Extrair Dados da Mensagem').item.json.phone }}","contextWindowLength":8},"id":"ef72a015-af32-4a43-822c-7934a1f1b9bd","name":"Memória por Paciente","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[640,288]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $('Preparar Contexto para IA').item.json.chatId }}\",\n  \"text\": \"{mensagem}\",\n  \"session\": \"default\"\n}"},"id":"230436f7-5dca-473c-8a42-9b6bd6d8bbd9","name":"Tool - Enviar WhatsApp","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[768,288]},{"parameters":{"name":"registrar_agendamento","description":"Registra um agendamento no banco de dados. Use apenas quando o paciente confirmar explicitamente que deseja agendar. Parâmetros: slot_id (ID da vaga escolhida), tipo (consulta ou exame), especialidade.","jsCode":"// CONFIGURAR: Substitua a URL abaixo pela URL da sua API ou use n8n HTTP Request\n// Este tool registra o agendamento no PostgreSQL\n\nconst slotId = query.slot_id;\nconst tipo = query.tipo;\nconst especialidade = query.especialidade;\nconst pacienteId = /* Pegar do contexto */ '{{ $('Preparar Contexto para IA').item.json.pacienteId }}';\n\n// Simulação - substitua por chamada real ao banco:\n// INSERT INTO agendamentos (paciente_id, horario_id, tipo, especialidade, status)\n// VALUES ($1, $2, $3, $4, 'confirmado')\n// UPDATE horarios_disponiveis SET vagas_disponiveis = vagas_disponiveis - 1 WHERE id = $1\n\nreturn `Agendamento registrado com sucesso! Vaga ID ${slotId} para ${tipo} de ${especialidade} confirmada para o paciente.`;"},"id":"a912b0c7-3291-4e42-9cbe-1a305eb47b0a","name":"Tool - Registrar Agendamento","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[880,288]},{"parameters":{"name":"cancelar_agendamento","description":"Cancela um agendamento existente do paciente. Use quando o paciente solicitar cancelamento. Parâmetro: agendamento_id (ID do agendamento a cancelar).","jsCode":"// CONFIGURAR: Substitua pela chamada real ao PostgreSQL\n// UPDATE agendamentos SET status = 'cancelado' WHERE id = $1 AND paciente_id = $2\n// UPDATE horarios_disponiveis SET vagas_disponiveis = vagas_disponiveis + 1 WHERE id = (\n//   SELECT horario_id FROM agendamentos WHERE id = $1\n// )\n\nconst agendamentoId = query.agendamento_id;\nreturn `Agendamento ID ${agendamentoId} cancelado com sucesso.`;"},"id":"2eced1a3-6a72-41a5-a28f-0750f0aa00d9","name":"Tool - Cancelar Agendamento","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1008,288]},{"parameters":{"respondWith":"noData","options":{}},"id":"1963c865-90f5-475d-8cb4-59ada0ceb0be","name":"Responder Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[864,80]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"5565d37c-00db-41b0-b2ab-20ce4c30fee2","name":"Monitor - A cada 15 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,512]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  a.id as agendamento_id,\n  a.paciente_id,\n  p.nome as paciente_nome,\n  p.telefone,\n  a.tipo,\n  a.especialidade,\n  a.medico,\n  TO_CHAR(a.data_anterior, 'DD/MM/YYYY HH24:MI') as data_anterior,\n  TO_CHAR(a.data_hora, 'DD/MM/YYYY HH24:MI') as nova_data,\n  a.local\nFROM agendamentos a\nJOIN pacientes p ON p.id = a.paciente_id\nWHERE a.status = 'remarcado' \n  AND a.notificado_remarcacao = false\n  AND a.data_hora >= NOW()\nORDER BY a.updated_at ASC\nLIMIT 50","options":{}},"id":"ae0c0743-3af8-4d1d-a31f-f5b9cbe98748","name":"Buscar Consultas Remarcadas","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-656,512]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"cond-2","leftValue":"={{ $json.agendamento_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"f7f8c72f-7b5d-400b-b1e7-081f3f5d284f","name":"Tem Remarcações?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,512]},{"parameters":{"options":{"reset":false}},"id":"57e84a7a-d949-43c8-8003-75cad3585741","name":"Processar Um a Um","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,432]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $json.telefone }}@c.us\",\n  \"text\": \"⚠️ *Aviso FUBEN* ⚠️\\n\\nOl\\u00e1, *{{ $json.paciente_nome }}*!\\n\\nInformamos que sua {{ $json.tipo }} foi *remarcada*:\\n\\n🏥 *Especialidade:* {{ $json.especialidade }}\\n👨‍⚕️ *Profissional:* {{ $json.medico }}\\n📅 *Data anterior:* {{ $json.data_anterior }}\\n📅 *Nova data:* {{ $json.nova_data }}\\n📍 *Local:* {{ $json.local }}\\n\\nEm caso de d\\u00favidas, responda esta mensagem ou ligue:\\n📞 (98) 0000-0000\\n\\n_FUBEN - Cuidando de você_ 💙\",\n  \"session\": \"default\"\n}","options":{}},"id":"1a76114e-eed4-4fff-9dbd-ff84232df60d","name":"Notificar Paciente Remarcação","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,432]},{"parameters":{"operation":"executeQuery","query":"UPDATE agendamentos SET notificado_remarcacao = true, notificado_em = NOW() WHERE id = {{ $json.agendamento_id }}","options":{}},"id":"9570059c-9068-4faa-91b4-873c4bf697f4","name":"Marcar Como Notificado","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[224,432]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"cond-3","leftValue":"={{ $('Processar Um a Um').item.json.agendamento_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"822f9d95-4e13-4178-a32d-f2d595770592","name":"Mais Pacientes?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,432]}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Extrair Dados da Mensagem","type":"main","index":0}]]},"Extrair Dados da Mensagem":{"main":[[{"node":"Verificar Cadastro FUBEN","type":"main","index":0}]]},"Verificar Cadastro FUBEN":{"main":[[{"node":"Paciente Cadastrado?","type":"main","index":0}]]},"Paciente Cadastrado?":{"main":[[{"node":"Buscar Agendamentos do Paciente","type":"main","index":0},{"node":"Buscar Vagas Disponíveis","type":"main","index":0}],[{"node":"Enviar - Não Cadastrado","type":"main","index":0}]]},"Buscar Agendamentos do Paciente":{"main":[[{"node":"Preparar Contexto para IA","type":"main","index":0}]]},"Buscar Vagas Disponíveis":{"main":[[{"node":"Preparar Contexto para IA","type":"main","index":0}]]},"Preparar Contexto para IA":{"main":[[{"node":"AI Agent - FUBEN","type":"main","index":0}]]},"AI Agent - FUBEN":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"AI Agent - FUBEN","type":"ai_languageModel","index":0}]]},"Memória por Paciente":{"ai_memory":[[{"node":"AI Agent - FUBEN","type":"ai_memory","index":0}]]},"Tool - Enviar WhatsApp":{"ai_tool":[[{"node":"AI Agent - FUBEN","type":"ai_tool","index":0}]]},"Tool - Registrar Agendamento":{"ai_tool":[[{"node":"AI Agent - FUBEN","type":"ai_tool","index":0}]]},"Tool - Cancelar Agendamento":{"ai_tool":[[{"node":"AI Agent - FUBEN","type":"ai_tool","index":0}]]},"Monitor - A cada 15 min":{"main":[[{"node":"Buscar Consultas Remarcadas","type":"main","index":0}]]},"Buscar Consultas Remarcadas":{"main":[[{"node":"Tem Remarcações?","type":"main","index":0}]]},"Tem Remarcações?":{"main":[[{"node":"Processar Um a Um","type":"main","index":0}]]},"Processar Um a Um":{"main":[[{"node":"Notificar Paciente Remarcação","type":"main","index":0}]]},"Notificar Paciente Remarcação":{"main":[[{"node":"Marcar Como Notificado","type":"main","index":0}]]},"Marcar Como Notificado":{"main":[[{"node":"Mais Pacientes?","type":"main","index":0}]]},"Mais Pacientes?":{"main":[[{"node":"Processar Um a Um","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"16f331ca-4486-42c6-b8f8-d36867fcfef2","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T18:43:38.871Z","createdAt":"2026-03-04T18:43:38.871Z","role":"workflow:owner","workflowId":"g8kfybV0IjGrZAeye0bm2","projectId":"LZWJDGkejcu9c8Og","project":{"updatedAt":"2026-02-11T15:44:04.045Z","createdAt":"2026-02-10T18:40:23.427Z","id":"LZWJDGkejcu9c8Og","name":"CAINÃ ATAIDE <cainaataide48@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d242ea6d-9447-45db-a8a4-19443875d0cc"}}]},{"updatedAt":"2026-03-29T03:36:34.488Z","createdAt":"2026-03-04T21:19:30.394Z","id":"BEYngaCo2hLamwZBh9A1K","name":"FUBEN — Módulo Pesquisa e Indicadores","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"7b2c772c-925c-4bc3-988c-03487c86990b","name":"Extrair Dados da Mensagem","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2672,2912]},{"parameters":{"operation":"executeQuery","query":"SELECT p.id, p.nome, p.cpf, p.telefone, p.plano, p.categoria_plano, p.data_nascimento, p.email, p.ativo,\n  (SELECT COUNT(*) FROM agendamentos WHERE paciente_id = p.id AND status = 'realizado') as total_consultas\nFROM pacientes p\nWHERE dbo.fn_only_digits(p.telefone) = '{{ $json.phone }}'\n  AND p.ativo = 1\n-- TOP 1 (mover para SELECT TOP 1)"},"id":"de22448c-ebad-4a52-b7bc-6f1a333af9be","name":"Verificar Cadastro FUBEN","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-2240,2912]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"638c3e09-9968-4d7a-ad91-c11898b615a1","name":"Paciente Cadastrado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2032,2912]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO log_interacoes (paciente_id, telefone, mensagem, canal, created_at)\nVALUES ({{ $('Verificar Cadastro FUBEN').item.json.id }}, '{{ $('Extrair Dados da Mensagem').item.json.phone }}', '{{ $('Extrair Dados da Mensagem').item.json.message.replace(/'/g, \"''\") }}', 'whatsapp', GETDATE())\nOUTPUT INSERTED.id"},"id":"1130c8cf-d2f3-4d76-8ade-9ddf887402c1","name":"Registrar Log Interação","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1808,2912]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $('Extrair Dados da Mensagem').item.json.chatId }}\",\n  \"text\": \"*Sistema FUBEN — Atendimento Inteligente*\\n\\nIdentificamos que o número informado não possui vínculo ativo com o plano FUBEN.\\n\\nPara regularizar sua situação ou obter informações:\\n📞 Central de Atendimento: (98) 0000-0000\\n🌐 Portal do Beneficiário: fuben.com.br\\n📧 atendimento@fuben.com.br\\n\\nHorário de atendimento:\\nSegunda a Sexta — 07h às 19h\\nSábado — 07h às 13h\",\n  \"session\": \"default\"\n}","options":{}},"id":"f08de022-b42f-42f5-8ab8-e9cd05978972","name":"Enviar — Não Cadastrado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1808,3104]},{"parameters":{"jsCode":"const paciente = $(' Verificar Cadastro FUBEN').first().json;\nconst mensagem = $(' Extrair Dados da Mensagem').first().json.message;\nconst chatId = $(' Extrair Dados da Mensagem').first().json.chatId;\nconst phone = $(' Extrair Dados da Mensagem').first().json.phone;\n\nreturn [{\n  json: {\n    chatId,\n    phone,\n    mensagem,\n    pacienteId: paciente.id,\n    pacienteNome: paciente.nome,\n    pacientePlano: paciente.plano,\n    pacienteCategoria: paciente.categoria_plano,\n    totalConsultas: paciente.total_consultas\n  }\n}];"},"id":"e07b8964-b0d7-4d78-8655-2d9d1ba2b015","name":"Preparar Contexto Triagem","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1584,2912]},{"parameters":{"model":"gpt-4o","options":{"maxTokens":200,"temperature":0}},"id":"c6c8a672-5c83-428b-a28a-0e7451e1eb7d","name":"GPT-4o [Triagem]","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1360,3088],"credentials":{"openAiApi":{"id":"PXmxyCCDCQ3NEIiU","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Anti-spam: ignora mensagens de sistemas, grupos e status\nconst chatId = $input.first().json.chatId || '';\nconst message = $input.first().json.message || '';\n\nif (chatId.includes('@g.us')) {\n  return [];\n}\nif (chatId === 'status@broadcast') {\n  return [];\n}\nif (!message || message.trim() === '') {\n  return [];\n}\n\nreturn $input.all();"},"id":"4ed8f440-fa3e-477a-828d-eb1f458d2748","name":"Filtro Anti-Spam","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2464,2912]},{"parameters":{"jsCode":"const output = $input.first().json.output || $input.first().json.text || '';\n\nlet parsed;\ntry {\n  const clean = output.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = { intencao: 'saudacao', resumo: 'mensagem não classificada', urgencia: 'normal' };\n}\n\nconst prev = $('Preparar Contexto Triagem').first().json;\n\nreturn [{\n  json: {\n    ...prev,\n    intencao: parsed.intencao || 'saudacao',\n    resumo: parsed.resumo || '',\n    urgencia: parsed.urgencia || 'normal'\n  }\n}];"},"id":"997b4ce9-4185-4c65-9106-22f3f5f135b9","name":"Extrair Intenção Classificada","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1136,2912]},{"parameters":{"rules":{"rules":[{},{},{}]},"fallbackOutput":"extra"},"id":"fb4b8651-b424-48a2-8a22-7b5ee3dc97b5","name":"Roteador de Intenção","type":"n8n-nodes-base.switch","typeVersion":2,"position":[-912,2912]},{"parameters":{"operation":"executeQuery","query":"SELECT h.id, h.tipo, h.especialidade, h.medico, h.crm,\n  FORMAT(h.data_hora, 'dd/MM/yyyy') as data,\n  FORMAT(h.data_hora, 'HH:mm') as hora,\n  h.local, h.modalidade, h.vagas_disponiveis, h.duracao_minutos\nFROM horarios_disponiveis h\nWHERE h.vagas_disponiveis > 0\n  AND h.data_hora >= DATEADD(hour, 2, GETDATE())\n  AND h.data_hora <= DATEADD(day, 60, GETDATE())\n  AND h.ativo = 1\nORDER BY h.tipo, h.especialidade, h.data_hora ASC\n-- TOP 30 (mover para SELECT TOP 30)"},"id":"4b597703-e86f-467a-bafd-33460aac17b2","name":"Buscar Vagas Disponíveis","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-704,2704]},{"parameters":{"operation":"executeQuery","query":"SELECT a.id, a.tipo, a.especialidade, a.medico, a.status,\n  FORMAT(a.data_hora, 'dd/MM/yyyy') as data,\n  FORMAT(a.data_hora, 'HH:mm') as hora,\n  a.local, a.modalidade, a.protocolo, a.observacoes,\n  CASE WHEN a.data_hora > GETDATE() THEN 'futuro' ELSE 'passado' END as periodo\nFROM agendamentos a\nWHERE a.paciente_id = {{ $('📊 Extrair Intenção Classificada').item.json.pacienteId }}\n  AND a.status NOT IN ('cancelado_pelo_paciente')\nORDER BY a.data_hora DESC\n-- TOP 15 (mover para SELECT TOP 15)"},"id":"0c68d35b-8335-4f12-af0e-a064a94353af","name":"Buscar Histórico do Paciente","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-704,2912]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $('Extrair Intenção Classificada').item.json.chatId }}\",\n  \"text\": \"*Sistema FUBEN — Atendimento Inteligente* 🏥\\n\\nOlá, *{{ $('Extrair Intenção Classificada').item.json.pacienteNome }}*! Bem-vindo(a) ao seu assistente de saúde HSLZ CALHAU.\\n\\nEstou aqui para te ajudar com:\\n\\n📅 *1 — Agendar* consulta ou exame\\n📋 *2 — Verificar* seus agendamentos\\n\\nComo posso te ajudar hoje?\",\n  \"session\": \"default\"\n}","options":{}},"id":"e370adeb-8f1c-43cc-8bab-a8f37b468a9b","name":"Enviar Saudação","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-704,3104]},{"parameters":{"jsCode":"const consultas = $input.all();\nconst ctx = $('Extrair Intenção Classificada').first().json;\n\nlet futuras = consultas.filter(c => c.json.periodo === 'futuro');\nlet passadas = consultas.filter(c => c.json.periodo === 'passado');\n\nlet futurasTexto = 'Nenhuma consulta futura agendada.';\nif (futuras.length > 0) {\n  futurasTexto = futuras.map(c =>\n    `[ID:${c.json.id}] ${c.json.tipo} | ${c.json.especialidade} | Dr(a). ${c.json.medico} | ${c.json.data} às ${c.json.hora} | ${c.json.local} | Status: ${c.json.status} | Protocolo: ${c.json.protocolo || 'N/A'}`\n  ).join('\\n');\n}\n\nlet passadasTexto = 'Nenhum histórico disponível.';\nif (passadas.length > 0) {\n  passadasTexto = passadas.slice(0, 5).map(c =>\n    `[ID:${c.json.id}] ${c.json.tipo} | ${c.json.especialidade} | ${c.json.data} | Status: ${c.json.status}`\n  ).join('\\n');\n}\n\nreturn [{ json: { ...ctx, futurasTexto, passadasTexto } }];"},"id":"a5cb0b99-0baf-47c9-b493-01eac365e747","name":"Preparar Contexto Consultas","type":"n8n-nodes-base.code","typeVersion":1,"position":[-544,2912]},{"parameters":{"operation":"executeQuery","query":"UPDATE agendamentos SET notificado_remarcacao = 1, notificado_remarcacao_em = GETDATE() WHERE id = {{ $json.id }}"},"id":"48895eee-5092-4178-9b15-a85b239a9b7c","name":"Marcar Remarcação Notificada","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1760,3536]},{"parameters":{"operation":"executeQuery","query":"UPDATE agendamentos SET notificado_cancelamento = 1, notificado_cancelamento_em = GETDATE() WHERE id = {{ $json.id }}"},"id":"d358cf33-6780-485f-92f6-65d53f06c88d","name":"Marcar Cancelamento Notificado","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1760,3728]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $json.telefone }}@c.us\",\n  \"text\": \"🚨 *COMUNICADO FUBEN* 🚨\\n\\nPrezado(a) *{{ $json.nome }}*,\\n\\nLamentamos informar que seu agendamento foi *cancelado pela unidade*:\\n\\n🏥 *Tipo:* {{ $json.tipo }}\\n👨‍⚕️ *Especialidade:* {{ $json.especialidade }}\\n🩺 *Profissional:* Dr(a). {{ $json.medico }}\\n📅 *Data prevista:* {{ $json.data }} às {{ $json.hora }}\\n📍 *Local:* {{ $json.local }}\\n\\n{{ $json.motivo_cancelamento ? '📝 *Motivo:* ' + $json.motivo_cancelamento + '\\\\n\\\\n' : '' }}Para reagendar, basta responder esta mensagem.\\n\\nPedimos desculpas pelo inconveniente.\\n\\n_FUBEN — Seu bem-estar é nossa prioridade_ 💙\",\n  \"session\": \"default\"\n}","options":{}},"id":"c657f604-4777-477b-aa14-bf7ad53337ca","name":"Notificar Cancelamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1984,3728]},{"parameters":{"jsCode":"const vagas = $input.all();\nconst ctx = $('Extrair Intenção Classificada').first().json;\n\nlet vagasTexto = 'Nenhuma vaga disponível no momento.';\nif (vagas.length > 0 && vagas[0].json.id) {\n  vagasTexto = vagas.map(v =>\n    `[ID:${v.json.id}] ${v.json.tipo.toUpperCase()} | ${v.json.especialidade} | Dr(a). ${v.json.medico} (CRM:${v.json.crm}) | ${v.json.data} às ${v.json.hora} | ${v.json.local} | ${v.json.modalidade} | Vagas: ${v.json.vagas_disponiveis}`\n  ).join('\\n');\n}\n\nreturn [{ json: { ...ctx, vagasTexto } }];"},"id":"53d09d2b-584d-4a39-b9ca-b8e57ebad1b0","name":"Preparar Contexto Agendamento","type":"n8n-nodes-base.code","typeVersion":1,"position":[-480,2704]},{"parameters":{"model":"gpt-4o","options":{"maxTokens":1500,"temperature":0.3}},"id":"3eb15040-f1f4-46d0-886d-9233ae008a6e","name":"GPT-4o [Consultas]","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-368,3376],"credentials":{"openAiApi":{"id":"PXmxyCCDCQ3NEIiU","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=consult_{{ $('Extrair Dados da Mensagem').item.json.phone }}","contextWindowLength":10},"id":"bdf2175d-238c-4170-ae6b-12ce9cd99da8","name":"Memória [Consultas]","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-192,3376]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $json.telefone }}@c.us\",\n  \"text\": \"⚠️ *AVISO IMPORTANTE — FUBEN* ⚠️\\n\\nPrezado(a) *{{ $json.nome }}*,\\n\\nInformamos que houve uma alteração no seu agendamento:\\n\\n🏥 *Tipo:* {{ $json.tipo }}\\n👨‍⚕️ *Especialidade:* {{ $json.especialidade }}\\n🩺 *Profissional:* Dr(a). {{ $json.medico }}\\n\\n❌ *Data anterior:* {{ $json.data_anterior }}\\n✅ *Nova data:* {{ $json.nova_data }} às {{ $json.nova_hora }}\\n📍 *Local:* {{ $json.local }}\\n\\n{{ $json.motivo_remarcacao ? '📝 *Motivo:* ' + $json.motivo_remarcacao + '\\\\n\\\\n' : '' }}Caso não possa comparecer na nova data, responda esta mensagem para reagendar.\\n\\n_FUBEN — Cuidando da sua saúde com excelência_ 💙\",\n  \"session\": \"default\"\n}","options":{}},"id":"c21c29a2-132d-4f29-a11c-0b6bf89c30ff","name":"Notificar Remarcação","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1984,3536]},{"parameters":{"batchSize":1,"options":{}},"id":"25f80d00-4aca-449a-9b06-9d5d12575335","name":"Loop Remarcações","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-2208,3536]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"cfe3a708-eccb-444c-aa54-7980cd3c6de4","name":"Monitor — A cada 10 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2880,3616]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"5fdb9741-95f2-4346-8717-5c97e795ace1","name":"Monitor — A cada 30 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2880,3808]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"d0975726-bbdf-4c1d-bcf6-2153a32f634e","name":"Lembrete D-1 — Todo dia às 08h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2880,4032]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":60}]}},"id":"f0989203-3849-453e-860c-1db3847c4add","name":"Lembrete H-2 — A cada hora","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2880,4224]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":120}]}},"id":"0d2faf95-ef36-4c9f-b557-28e1fa59bade","name":"Pesquisa Satisfação — A cada 2h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2880,4432]},{"parameters":{"operation":"executeQuery","query":"SELECT a.id, a.paciente_id, p.nome, p.telefone, a.tipo, a.especialidade, a.medico,\n  FORMAT(a.data_anterior, 'dd/MM/yyyy - HH:mm') as data_anterior,\n  FORMAT(a.data_hora, 'dd/MM/yyyy') as nova_data,\n  FORMAT(a.data_hora, 'HH:mm') as nova_hora,\n  a.local, a.motivo_remarcacao\nFROM agendamentos a\nJOIN pacientes p ON p.id = a.paciente_id\nWHERE a.status = 'remarcado'\n  AND a.notificado_remarcacao = 0\n  AND a.data_hora >= GETDATE()\nORDER BY a.updated_at ASC\n-- TOP 50 (mover para SELECT TOP 50)"},"id":"a06736db-cff3-420e-a2a3-20655ecbb3a7","name":"Buscar Consultas Remarcadas","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-2640,3616]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"095a2b3a-8cc2-48aa-b52e-5eb32fbd5211","name":"Tem Remarcações?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2432,3616]},{"parameters":{"batchSize":1,"options":{}},"id":"a22e6c0f-d497-40f1-bb86-87ed13b0471e","name":"Loop Cancelamentos","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-2208,3728]},{"parameters":{"batchSize":1,"options":{}},"id":"29976893-c6c8-4195-9993-1ea309fb2713","name":"Loop Lembretes D-1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-2208,3952]},{"parameters":{"batchSize":1,"options":{}},"id":"10da8788-aeea-420c-ac60-fb29fb478663","name":"Loop Lembretes H-2","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-2208,4144]},{"parameters":{"operation":"executeQuery","query":"UPDATE agendamentos SET pesquisa_satisfacao_enviada = 1, pesquisa_enviada_em = GETDATE() WHERE id = {{ $json.id }}"},"id":"b3357629-d804-41aa-a6fa-73c6d6d20790","name":"Marcar Pesquisa Enviada","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1760,4352]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $('Extrair Intenção Classificada').item.json.chatId }}\",\n  \"text\": \"*Sistema FUBEN* 🏥\\n\\nOlá, *{{ $('Extrair Intenção Classificada').item.json.pacienteNome }}*!\\n\\nNão consegui entender sua solicitação. Posso te ajudar com:\\n\\n📅 *Agendar* consulta ou exame\\n📋 *Verificar* seus agendamentos\\n\\nPode me dizer o que você precisa?\",\n  \"session\": \"default\"\n}","options":{}},"id":"4540ed5a-1d00-4443-af12-9de4a8491b9a","name":"Fallback — Não Entendido","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-704,3312]},{"parameters":{"httpMethod":"POST","path":"webhook","responseMode":"responseNode","options":{}},"id":"b545b0d4-cf81-44a0-aa53-d3265e97abf8","name":"WhatsApp Trigger","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-2880,2912],"webhookId":"11866c3d-9552-4e38-be5c-d22c228af2f9"},{"parameters":{"respondWith":"noData","options":{}},"id":"2c20e5d3-888a-432b-9bca-3b3f381fe8e0","name":"Responder Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[336,2928]},{"parameters":{"name":"cancelar_agendamento","description":"Cancela um agendamento do paciente. Use APENAS após dupla confirmação. Parâmetros: agendamento_id (ID do agendamento), motivo (motivo do cancelamento).","jsCode":"// CANCELAR AGENDAMENTO NO POSTGRESQL\n// Query sugerida:\n// BEGIN;\n// UPDATE agendamentos SET status = 'cancelado_pelo_paciente', motivo_cancelamento = $2, cancelado_em = NOW() WHERE id = $1;\n// UPDATE horarios_disponiveis SET vagas_disponiveis = vagas_disponiveis + 1\n//   WHERE id = (SELECT horario_id FROM agendamentos WHERE id = $1);\n// COMMIT;\n\nconst agendamentoId = query.agendamento_id;\nconst motivo = query.motivo || 'Solicitado pelo paciente';\n\nreturn JSON.stringify({\n  sucesso: true,\n  mensagem: `Agendamento ID ${agendamentoId} cancelado com sucesso.`,\n  motivo: motivo,\n  protocolo_cancelamento: `CNC${Date.now()}`\n});"},"id":"d922d915-3326-47eb-bebc-bd89ce7b903d","name":"Tool — Cancelar Agendamento","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-32,3360]},{"parameters":{"model":"gpt-4o","options":{"maxTokens":1500,"temperature":0.3}},"id":"f4e1e8f1-6cc9-4ea6-bd84-8986af4b955e","name":"GPT-4o [Agendamento]","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-304,2704],"credentials":{"openAiApi":{"id":"PXmxyCCDCQ3NEIiU","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=agend_{{ $('Extrair Dados da Mensagem').item.json.phone }}","contextWindowLength":10},"id":"9a78447d-aa67-474f-8d4d-19da08174e93","name":"Memória [Agendamento]","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-176,2704]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $('Preparar Contexto Agendamento').item.json.chatId }}\",\n  \"text\": \"{texto}\",\n  \"session\": \"default\"\n}"},"id":"2dd66f1e-7f90-4488-bf22-6f0e088e428f","name":"Tool — WhatsApp [Agendamento]","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[96,2704]},{"parameters":{"name":"registrar_agendamento","description":"Registra definitivamente um agendamento no banco de dados. Use APENAS após o paciente confirmar explicitamente. Parâmetros necessários: slot_id (ID da vaga), observacoes (observações opcionais do paciente).","jsCode":"// REGISTRAR AGENDAMENTO NO POSTGRESQL\n// Substitua esta lógica pela chamada real ao banco via n8n HTTP Request ou Postgres node\n// Query sugerida:\n// BEGIN;\n// INSERT INTO agendamentos (paciente_id, horario_id, tipo, especialidade, medico, data_hora, local, status, created_at)\n// SELECT $1, h.id, h.tipo, h.especialidade, h.medico, h.data_hora, h.local, 'confirmado', NOW()\n// FROM horarios_disponiveis h WHERE h.id = $2;\n// UPDATE horarios_disponiveis SET vagas_disponiveis = vagas_disponiveis - 1 WHERE id = $2;\n// COMMIT;\n\nconst slotId = query.slot_id;\nconst obs = query.observacoes || '';\n\nreturn JSON.stringify({\n  sucesso: true,\n  mensagem: `Agendamento registrado com sucesso para a vaga ID ${slotId}.`,\n  protocolo: `FBN${Date.now()}`,\n  observacoes: obs\n});"},"id":"b9778ff4-4c76-40f0-b999-65416f289ab3","name":"Tool — Registrar Agendamento","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-48,2704]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $('Preparar Contexto Consultas').item.json.chatId }}\",\n  \"text\": \"{texto}\",\n  \"session\": \"default\"\n}"},"id":"822d5091-4599-4f5c-90a4-f9958ac76d51","name":"Tool — WhatsApp [Consultas]","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[144,3360]},{"parameters":{"operation":"executeQuery","query":"UPDATE agendamentos SET lembrete_d1_enviado = 1, lembrete_d1_enviado_em = GETDATE() WHERE id = {{ $json.id }}"},"id":"3be175b9-d007-4097-a842-ccca3933a73c","name":"Marcar Lembrete D-1 Enviado","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1760,3952]},{"parameters":{"operation":"executeQuery","query":"UPDATE agendamentos SET lembrete_h2_enviado = 1, lembrete_h2_enviado_em = GETDATE() WHERE id = {{ $json.id }}"},"id":"027767e6-5e00-43b9-a34a-cfa19cea79c9","name":"Marcar Lembrete H-2 Enviado","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-1760,4144]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $json.telefone }}@c.us\",\n  \"text\": \"🗓️ *LEMBRETE DE AGENDAMENTO — FUBEN*\\n\\nOlá, *{{ $json.nome }}*! Passando para lembrar que você tem um agendamento *amanhã*:\\n\\n🏥 *Tipo:* {{ $json.tipo }}\\n👨‍⚕️ *Especialidade:* {{ $json.especialidade }}\\n🩺 *Profissional:* Dr(a). {{ $json.medico }}\\n📅 *Data:* {{ $json.data }} às {{ $json.hora }}\\n📍 *Local:* {{ $json.local }}\\n🔖 *Protocolo:* {{ $json.protocolo || 'N/A' }}\\n{{ $json.link ? '🔗 *Link Telemedicina:* ' + $json.link + '\\\\n' : '' }}\\n📋 *Recomendações:*\\n• Chegue com 15 minutos de antecedência\\n• Traga documento de identidade e carteirinha do plano\\n• Em caso de exame, verifique se há preparo necessário\\n\\nPrecisa cancelar ou reagendar? Responda esta mensagem.\\n\\n_FUBEN — Cuidando de você_ 💙\",\n  \"session\": \"default\"\n}","options":{}},"id":"2a3458f3-313e-48e1-8ef9-d8deb85be62c","name":"Enviar Lembrete D-1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1984,3952]},{"parameters":{"operation":"executeQuery","query":"SELECT a.id, p.nome, p.telefone, a.tipo, a.especialidade, a.medico,\n  FORMAT(a.data_hora, 'dd/MM/yyyy') as data\nFROM agendamentos a\nJOIN pacientes p ON p.id = a.paciente_id\nWHERE a.status = 'realizado'\n  AND a.data_hora BETWEEN DATEADD(hour, -4, GETDATE()) AND DATEADD(hour, -1, GETDATE())\n  AND a.pesquisa_satisfacao_enviada = 0\nORDER BY a.data_hora DESC\n-- TOP 50 (mover para SELECT TOP 50)"},"id":"c4d068c5-ff37-4d8a-a401-9e1eb055ecfb","name":"Buscar Consultas Realizadas","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-2640,4432]},{"parameters":{"batchSize":1,"options":{}},"id":"4cdfd790-c895-4f0d-9de6-0f5b312fa392","name":"Loop Pesquisa","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-2208,4352]},{"parameters":{"operation":"executeQuery","query":"SELECT a.id, p.nome, p.telefone, a.tipo, a.especialidade, a.medico,\n  FORMAT(a.data_hora, 'dd/MM/yyyy') as data,\n  FORMAT(a.data_hora, 'HH:mm') as hora,\n  a.local, a.modalidade, a.protocolo,\n  CASE WHEN a.modalidade = 'telemedicina' THEN a.link_telemedicina ELSE NULL END as link\nFROM agendamentos a\nJOIN pacientes p ON p.id = a.paciente_id\nWHERE a.data_hora BETWEEN GETDATE() + INTERVAL '1 hour 50 minutes' AND GETDATE() + INTERVAL '2 hour 10 minutes'\n  AND a.status = 'confirmado'\n  AND a.lembrete_h2_enviado = 0\nORDER BY a.data_hora ASC\n-- TOP 50 (mover para SELECT TOP 50)"},"id":"df2d4ce1-77c9-4e4a-a8c8-8ae8b67a1a5a","name":"Buscar Consultas em 2 Horas","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-2640,4224]},{"parameters":{"operation":"executeQuery","query":"SELECT a.id, p.nome, p.telefone, a.tipo, a.especialidade, a.medico,\n  FORMAT(a.data_hora, 'dd/MM/yyyy') as data,\n  FORMAT(a.data_hora, 'HH:mm') as hora,\n  a.local, a.modalidade, a.protocolo,\n  CASE WHEN a.modalidade = 'telemedicina' THEN a.link_telemedicina ELSE NULL END as link\nFROM agendamentos a\nJOIN pacientes p ON p.id = a.paciente_id\nWHERE DATE(a.data_hora) = CURRENT_DATE + INTERVAL '1 day'\n  AND a.status = 'confirmado'\n  AND a.lembrete_d1_enviado = 0\nORDER BY a.data_hora ASC\n-- TOP 100 (mover para SELECT TOP 100)"},"id":"dec5f743-68d6-40c5-8d7c-a3d47a7c881f","name":"Buscar Consultas de Amanhã","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-2640,4032]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"314f3c77-7f87-433c-a093-97ac82416565","name":"Tem Consultas em 2h?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2432,4224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"12fbd8a4-733f-4911-924f-3f1def21b1aa","name":"Tem Consultas Amanhã?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2432,4032]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"42937022-0894-40a7-9be4-ce415d1d64cc","name":"Tem Cancelamentos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2432,3808]},{"parameters":{"operation":"executeQuery","query":"SELECT a.id, a.paciente_id, p.nome, p.telefone, a.tipo, a.especialidade, a.medico,\n  FORMAT(a.data_hora, 'dd/MM/yyyy') as data,\n  FORMAT(a.data_hora, 'HH:mm') as hora,\n  a.local, a.motivo_cancelamento\nFROM agendamentos a\nJOIN pacientes p ON p.id = a.paciente_id\nWHERE a.status = 'cancelado_pela_clinica'\n  AND a.notificado_cancelamento = 0\n  AND a.data_hora >= GETDATE()\nORDER BY a.updated_at ASC\n-- TOP 50 (mover para SELECT TOP 50)"},"id":"509df3b4-7d2f-4d5a-bceb-e9543c53c8b2","name":"Buscar Cancelamentos pela Clínica","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-2640,3808]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"b01eaeaf-56f1-4823-b8fe-a7bd800dad28","name":"Tem Feedback Pendente?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2432,4432]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $json.telefone }}@c.us\",\n  \"text\": \"💙 *FUBEN — Pesquisa de Satisfação*\\n\\nOlá, *{{ $json.nome }}*!\\n\\nEsperamos que seu atendimento tenha sido excelente:\\n🩺 *{{ $json.tipo }}* com Dr(a). {{ $json.medico }}\\n📅 Realizado em: {{ $json.data }}\\n\\nSua opinião é fundamental para melhorarmos cada vez mais!\\n\\nComo você avalia o atendimento recebido?\\n\\n⭐⭐⭐⭐⭐ — Digite de *1 a 5*\\n(1 = Ruim / 5 = Excelente)\\n\\nFique à vontade para adicionar um comentário também! 📝\\n\\n_FUBEN — Excelência em saúde para você_ 💙\",\n  \"session\": \"default\"\n}","options":{}},"id":"1c6a3e2a-4e6a-46dc-b8d1-03206a68e216","name":"Enviar Pesquisa Satisfação","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1984,4352]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é o módulo de TRIAGEM INTELIGENTE do Sistema FUBEN.\n\nSua única função é analisar a mensagem do paciente e retornar um JSON classificando a intenção.\n\n## PACIENTE\nNome: {{ $json.pacienteNome }}\nPlano: {{ $json.pacientePlano }} ({{ $json.pacienteCategoria }})\nTotal de consultas realizadas: {{ $json.totalConsultas }}\n\n## INTENÇÕES POSSÍVEIS\n- `agendar`: paciente quer marcar consulta, exame, retorno\n- `consultar`: paciente quer ver, consultar, verificar agendamentos existentes ou cancelar\n- `saudacao`: primeira mensagem, oi, olá, bom dia\n- `outro`: qualquer outra coisa\n\n## RETORNO OBRIGATÓRIO\nRetorne APENAS o JSON abaixo sem nenhum texto adicional:\n{\n  \"intencao\": \"agendar\" | \"consultar\" | \"saudacao\" | \"outro\",\n  \"resumo\": \"resumo em 1 linha do que o paciente quer\",\n  \"urgencia\": \"normal\" | \"urgente\"\n}"}},"id":"c8febcb4-4661-4eeb-813d-276f791f386d","name":"Agente Triagem — Classificador de Intenção","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1360,2912]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é o AGENTE DE CONSULTAS do Sistema Inteligente FUBEN.\nSeu nome é FUBEN IA — Módulo de Consultas.\n\n## IDENTIDADE DO PACIENTE\nNome: {{ $json.pacienteNome }}\nPlano: {{ $json.pacientePlano }} | Categoria: {{ $json.pacienteCategoria }}\nID: {{ $json.pacienteId }}\nIntenção identificada: {{ $json.resumo }}\n\n## CONSULTAS FUTURAS DO PACIENTE\n{{ $json.futurasTexto }}\n\n## HISTÓRICO RECENTE\n{{ $json.passadasTexto }}\n\n## SUAS CAPACIDADES\n1. Informar detalhes completos de cada consulta futura\n2. Cancelar uma consulta mediante solicitação do paciente\n3. Orientar sobre como se preparar para exames\n4. Informar documentos necessários para consultas\n5. Confirmar presença em consultas próximas\n\n## REGRAS CRÍTICAS\n- NUNCA cancele sem confirmação explícita e dupla do paciente\n- Ao solicitar cancelamento, pergunte o motivo (para fins de melhoria)\n- Após cancelar, ofereça reagendamento imediato\n- Sempre informe o protocolo da consulta\n- Use *negrito* e emojis para melhor legibilidade no WhatsApp\n\n## TOM\nFormal, empático, eficiente. O paciente deve sentir que está sendo atendido por um sistema de saúde premium."}},"id":"3393cd4e-14bd-4d5f-8205-3175b0423049","name":"Agente Consultas — Especialista em Histórico","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-288,2896]},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é o AGENTE DE AGENDAMENTO do Sistema Inteligente FUBEN.\nSeu nome é FUBEN IA — Módulo de Agendamento.\n\n## IDENTIDADE DO PACIENTE\nNome: {{ $json.pacienteNome }}\nPlano: {{ $json.pacientePlano }} | Categoria: {{ $json.pacienteCategoria }}\nID do Paciente: {{ $json.pacienteId }}\nIntenção identificada: {{ $json.resumo }}\n\n## VAGAS DISPONÍVEIS (próximos 60 dias)\n{{ $json.vagasTexto }}\n\n## SUAS CAPACIDADES\n1. Apresentar especialidades e médicos disponíveis de forma organizada\n2. Sugerir a melhor opção com base no que o paciente descreveu\n3. Confirmar o agendamento com o paciente antes de registrar\n4. Registrar o agendamento após confirmação explícita do paciente\n5. Enviar a confirmação detalhada via WhatsApp\n\n## REGRAS CRÍTICAS\n- NUNCA registre um agendamento sem confirmação EXPLÍCITA do paciente\n- Sempre apresente data, hora, médico, local e modalidade antes de confirmar\n- Se não houver vagas para a especialidade desejada, informe e sugira alternativas\n- Use sempre o nome do paciente nas mensagens\n- Seja proativo: se o paciente disser 'quero consulta', pergunte a especialidade\n- Após confirmar agendamento, use a tool de envio de WhatsApp com todos os detalhes\n- Use formatação com emojis e negrito para WhatsApp (*texto* = negrito)\n\n## TOM\nFormal, tecnológico, eficiente. Transmita sensação de sistema de saúde de altíssimo nível."}},"id":"5db70da2-d606-4c43-a86f-aeb115137326","name":"Agente Agendamento — Especialista em Marcação","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-176,2448]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $json.telefone }}@c.us\",\n  \"text\": \"🚨 *LEMBRETE — EM 2 HORAS | FUBEN*\\n\\nOlá, *{{ $json.nome }}*!\\n\\nSua consulta começa em *aproximadamente 2 horas*:\\n\\n🏥 *Tipo:* {{ $json.tipo }}\\n👨‍⚕️ *Especialidade:* {{ $json.especialidade }}\\n🩺 *Profissional:* Dr(a). {{ $json.medico }}\\n📅 *Hoje às:* {{ $json.hora }}\\n📍 *Local:* {{ $json.local }}\\n{{ $json.link ? '🔗 *Link Telemedicina:* ' + $json.link + '\\\\n' : '' }}\\n✅ Confirme sua presença respondendo *SIM* ou solicite reagendamento respondendo *REAGENDAR*.\\n\\n_FUBEN — Sistema Inteligente de Saúde_ 💙\",\n  \"session\": \"default\"\n}","options":{}},"id":"c57720c4-33a9-4932-ab5c-d31f23e8d2ff","name":"Enviar Lembrete H-2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1984,4144]},{"parameters":{"jsCode":"// Detecta se a mensagem é uma resposta de pesquisa de satisfação\nconst message = $input.first().json.message || '';\nconst phone = $input.first().json.phone || '';\nconst chatId = $input.first().json.chatId || '';\n\nconst texto = message.trim().toLowerCase();\nconst nota = parseInt(texto);\n\n// Verifica se é uma nota válida (1 a 5)\nconst ehNota = !isNaN(nota) && nota >= 1 && nota <= 5;\n\n// Verifica se tem comentário junto (ex: '5 ótimo atendimento')\nconst partes = message.trim().split(' ');\nconst notaTexto = parseInt(partes[0]);\nconst comentario = partes.length > 1 ? partes.slice(1).join(' ') : '';\n\nif (ehNota || (!isNaN(notaTexto) && notaTexto >= 1 && notaTexto <= 5)) {\n  return [{\n    json: {\n      phone,\n      chatId,\n      message,\n      nota: ehNota ? nota : notaTexto,\n      comentario: comentario,\n      ehRespostaPesquisa: true\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    ehRespostaPesquisa: false\n  }\n}];"},"id":"41476067-3013-4f7f-ad08-6d1a24565f1c","name":"Detectar Resposta de Pesquisa","type":"n8n-nodes-base.code","typeVersion":1,"position":[576,2976]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"c1","leftValue":"={{ $json.ehRespostaPesquisa }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"09f1afc7-cba4-40f2-a979-8b8bbffcdfcd","name":"É Resposta de Pesquisa?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,2976]},{"parameters":{"operation":"executeQuery","query":"SELECT a.id as agendamento_id, a.tipo, a.especialidade, a.medico, a.data_hora,\n  p.id as paciente_id, p.nome\nFROM agendamentos a\nJOIN pacientes p ON p.id = a.paciente_id\nWHERE dbo.fn_only_digits(p.telefone) = '{{ $json.phone }}'\n  AND a.status = 'realizado'\n  AND a.pesquisa_satisfacao_enviada = 1\n  AND a.pesquisa_respondida = 0\nORDER BY a.data_hora DESC\n-- TOP 1 (mover para SELECT TOP 1)"},"id":"b3aecee5-8a3f-4907-b26f-b4e15d35fc9f","name":"Buscar Agendamento da Pesquisa","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1024,2880]},{"parameters":{"jsCode":"const agendamento = $('🔍 Buscar Agendamento da Pesquisa').first().json;\nconst pesquisa = $('⭐ É Resposta de Pesquisa?').first().json;\n\nif (!agendamento.agendamento_id) {\n  return [{ json: { skip: true } }];\n}\n\nreturn [{\n  json: {\n    agendamentoId: agendamento.agendamento_id,\n    pacienteId: agendamento.paciente_id,\n    pacienteNome: agendamento.nome,\n    tipo: agendamento.tipo,\n    especialidade: agendamento.especialidade,\n    medico: agendamento.medico,\n    nota: pesquisa.nota,\n    comentario: pesquisa.comentario || '',\n    chatId: pesquisa.chatId,\n    phone: pesquisa.phone\n  }\n}];"},"id":"bee16790-3eed-4ce6-9b97-fd06f8e8c90a","name":"Preparar Dados da Avaliação","type":"n8n-nodes-base.code","typeVersion":1,"position":[1232,2880]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO avaliacoes (agendamento_id, paciente_id, nota, comentario, especialidade, medico, tipo_atendimento, created_at)\nVALUES ({{ $json.agendamentoId }}, {{ $json.pacienteId }}, {{ $json.nota }}, '{{ $json.comentario.replace(/'/g, \"''\") }}', '{{ $json.especialidade }}', '{{ $json.medico }}', '{{ $json.tipo }}', GETDATE())\nOUTPUT INSERTED.id"},"id":"1d44d8ae-8f20-4ea3-adee-e76bdbb5336e","name":"Salvar Avaliação no Banco","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1456,2880]},{"parameters":{"operation":"executeQuery","query":"UPDATE agendamentos SET pesquisa_respondida = 1, pesquisa_respondida_em = GETDATE(), nota_satisfacao = {{ $('🧠 Preparar Dados da Avaliação').item.json.nota }} WHERE id = {{ $('🧠 Preparar Dados da Avaliação').item.json.agendamentoId }}"},"id":"a831389f-88a1-40ca-bff0-72b2138a0137","name":"Marcar Pesquisa Respondida","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1680,2880]},{"parameters":{"jsCode":"const nota = $('🧠 Preparar Dados da Avaliação').first().json.nota;\nconst nome = $('🧠 Preparar Dados da Avaliação').first().json.pacienteNome;\nconst medico = $('🧠 Preparar Dados da Avaliação').first().json.medico;\nconst chatId = $('🧠 Preparar Dados da Avaliação').first().json.chatId;\n\nconst estrelas = '⭐'.repeat(nota) + '☆'.repeat(5 - nota);\n\nlet mensagem = '';\n\nif (nota >= 4) {\n  mensagem = `${estrelas}\\n\\n*Obrigado pela avaliação, ${nome}!* 💙\\n\\nFicamos muito felizes que sua experiência com Dr(a). ${medico} foi positiva!\\n\\nSua opinião nos ajuda a manter a excelência no atendimento.\\n\\n_FUBEN — Excelência em saúde para você_ 🏥`;\n} else if (nota === 3) {\n  mensagem = `${estrelas}\\n\\n*Obrigado pela avaliação, ${nome}!* 💙\\n\\nAgradecemos seu retorno. Estamos trabalhando constantemente para melhorar nossos serviços.\\n\\nCaso queira nos contar mais sobre sua experiência, pode responder aqui.\\n\\n_FUBEN — Comprometidos com a sua saúde_ 🏥`;\n} else {\n  mensagem = `${estrelas}\\n\\n*Obrigado pela avaliação, ${nome}.*\\n\\nLamentamos que sua experiência não tenha sido satisfatória. Seu retorno é extremamente importante para nós.\\n\\nUm de nossos responsáveis entrará em contato para entender o que aconteceu e garantir que isso não se repita.\\n\\nPedimos sinceras desculpas pelo transtorno.\\n\\n_FUBEN — Comprometidos com a sua saúde_ 🏥`;\n}\n\nreturn [{ json: { chatId, mensagem, nota } }];"},"id":"8b0b6a42-4a70-4ba8-9e31-7d6d38cec2da","name":"Montar Resposta da Avaliação","type":"n8n-nodes-base.code","typeVersion":1,"position":[1904,2880]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"{{ $json.chatId }}\",\n  \"text\": \"{{ $json.mensagem }}\",\n  \"session\": \"default\"\n}","options":{}},"id":"47bae8b0-4523-4daa-95e8-b8ff60349b1b","name":"Enviar Confirmação da Avaliação","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2128,2880]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"c1","leftValue":"={{ $('🧠 Preparar Dados da Avaliação').item.json.nota }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"420cf4f5-fbf1-45b0-937e-3901f798ac2b","name":"Nota Baixa? (1 ou 2)","type":"n8n-nodes-base.if","typeVersion":2,"position":[2352,2880]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO alertas_qualidade (paciente_id, agendamento_id, nota, comentario, medico, especialidade, status, created_at)\nVALUES ({{ $('🧠 Preparar Dados da Avaliação').item.json.pacienteId }}, {{ $('🧠 Preparar Dados da Avaliação').item.json.agendamentoId }}, {{ $('🧠 Preparar Dados da Avaliação').item.json.nota }}, '{{ $('🧠 Preparar Dados da Avaliação').item.json.comentario.replace(/'/g, \"''\") }}', '{{ $('🧠 Preparar Dados da Avaliação').item.json.medico }}', '{{ $('🧠 Preparar Dados da Avaliação').item.json.especialidade }}', 'pendente', GETDATE())"},"id":"f581a21b-ae3e-41ce-a794-0d4b42fd2967","name":"Gerar Alerta de Qualidade","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[2608,2768]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * 1"}]}},"id":"00b7391f-bb89-45ae-8726-69e8546f6a13","name":"Relatório Semanal — Segunda às 07h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-2880,4672]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  COUNT(*) as total_avaliacoes,\n  ROUND(CAST(AVG(nota) AS DECIMAL(10,4)), 2) as media_geral,\n  COUNT(CASE WHEN nota >= 4 THEN 1 END) as promotores,\n  COUNT(CASE WHEN nota = 3 THEN 1 END) as neutros,\n  COUNT(CASE WHEN nota <= 2 THEN 1 END) as detratores,\n  ROUND(CAST(((COUNT(CASE WHEN nota >= 4 THEN 1 END)::float - COUNT(CASE WHEN nota <= 2 THEN 1 END)::float) / NULLIF(COUNT(*) AS DECIMAL(10,4)), 0) * 100), 1) as nps_score\nFROM avaliacoes\nWHERE created_at >= DATEADD(day, -7, GETDATE())"},"id":"d7c019ed-c3e1-483d-a026-28ee2ca7fa80","name":"Buscar Indicadores Gerais","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-2640,4640]},{"parameters":{"operation":"executeQuery","query":"SELECT medico, especialidade,\n  COUNT(*) as total,\n  ROUND(CAST(AVG(nota) AS DECIMAL(10,4)), 2) as media,\n  COUNT(CASE WHEN nota >= 4 THEN 1 END) as positivas,\n  COUNT(CASE WHEN nota <= 2 THEN 1 END) as negativas\nFROM avaliacoes\nWHERE created_at >= DATEADD(day, -7, GETDATE())\nGROUP BY medico, especialidade\nORDER BY media DESC"},"id":"7d6a2bec-ca4c-4885-be57-fa66a9b29700","name":"Indicadores por Médico","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-2640,4800]},{"parameters":{"jsCode":"const geral = $('📈 Buscar Indicadores Gerais').first().json;\nconst porMedico = $('👨‍⚕️ Indicadores por Médico').all();\n\nconst total = geral.total_avaliacoes || 0;\nconst media = geral.media_geral || 0;\nconst nps = geral.nps_score || 0;\nconst promotores = geral.promotores || 0;\nconst neutros = geral.neutros || 0;\nconst detratores = geral.detratores || 0;\n\nlet npsEmoji = nps >= 75 ? '🟢 Excelente' : nps >= 50 ? '🟡 Bom' : nps >= 0 ? '🟠 Regular' : '🔴 Crítico';\nlet mediaEmoji = media >= 4.5 ? '⭐⭐⭐⭐⭐' : media >= 3.5 ? '⭐⭐⭐⭐' : media >= 2.5 ? '⭐⭐⭐' : '⭐⭐';\n\nlet medicosTexto = '';\nif (porMedico.length > 0 && porMedico[0].json.medico) {\n  medicosTexto = porMedico.slice(0, 5).map((m, i) =>\n    `${i + 1}. Dr(a). ${m.json.medico} (${m.json.especialidade}) — Média: ${m.json.media} | Avaliações: ${m.json.total}`\n  ).join('\\n');\n} else {\n  medicosTexto = 'Sem dados suficientes.';\n}\n\nconst relatorio = `*📊 RELATÓRIO SEMANAL — FUBEN*\\n*Satisfação de Pacientes*\\n\\n📅 Período: últimos 7 dias\\n\\n━━━━━━━━━━━━━━━━━━━━\\n*VISÃO GERAL*\\n━━━━━━━━━━━━━━━━━━━━\\n📋 Total de avaliações: *${total}*\\n${mediaEmoji} Média geral: *${media}/5.0*\\n📌 NPS Score: *${nps}%* — ${npsEmoji}\\n\\n😊 Promotores (4-5): *${promotores}*\\n😐 Neutros (3): *${neutros}*\\n😞 Detratores (1-2): *${detratores}*\\n\\n━━━━━━━━━━━━━━━━━━━━\\n*TOP PROFISSIONAIS*\\n━━━━━━━━━━━━━━━━━━━━\\n${medicosTexto}\\n\\n_FUBEN — Sistema Inteligente de Saúde_ 🏥`;\n\nreturn [{ json: { relatorio } }];"},"id":"c4ddc114-a08d-43d4-8651-b9fb4756ac2c","name":"Montar Relatório Semanal","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2400,4720]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chatId\": \"NUMERO_GESTOR@c.us\",\n  \"text\": \"{{ $json.relatorio }}\",\n  \"session\": \"default\"\n}","options":{}},"id":"51588a9b-7107-40ad-a069-b9d1f1efeeeb","name":"Enviar Relatório ao Gestor","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-2176,4720]}],"connections":{"Extrair Dados da Mensagem":{"main":[[{"node":"Filtro Anti-Spam","type":"main","index":0}]]},"Verificar Cadastro FUBEN":{"main":[[{"node":"Paciente Cadastrado?","type":"main","index":0}]]},"Paciente Cadastrado?":{"main":[[{"node":"Registrar Log Interação","type":"main","index":0}],[{"node":"Enviar — Não Cadastrado","type":"main","index":0}]]},"Registrar Log Interação":{"main":[[{"node":"Preparar Contexto Triagem","type":"main","index":0}]]},"Preparar Contexto Triagem":{"main":[[{"node":"Agente Triagem — Classificador de Intenção","type":"main","index":0}]]},"GPT-4o [Triagem]":{"ai_languageModel":[[{"node":"Agente Triagem — Classificador de Intenção","type":"ai_languageModel","index":0}]]},"Filtro Anti-Spam":{"main":[[{"node":"Verificar Cadastro FUBEN","type":"main","index":0}]]},"Extrair Intenção Classificada":{"main":[[{"node":"Roteador de Intenção","type":"main","index":0}]]},"Roteador de Intenção":{"main":[[{"node":"Buscar Vagas Disponíveis","type":"main","index":0}],[{"node":"Buscar Histórico do Paciente","type":"main","index":0}],[{"node":"Enviar Saudação","type":"main","index":0}]]},"Buscar Vagas Disponíveis":{"main":[[{"node":"Preparar Contexto Agendamento","type":"main","index":0}]]},"Buscar Histórico do Paciente":{"main":[[{"node":"Preparar Contexto Consultas","type":"main","index":0}]]},"Enviar Saudação":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]},"Preparar Contexto Consultas":{"main":[[{"node":"Agente Consultas — Especialista em Histórico","type":"main","index":0}]]},"Marcar Remarcação Notificada":{"main":[[{"node":"Loop Remarcações","type":"main","index":0}]]},"Marcar Cancelamento Notificado":{"main":[[{"node":"Loop Cancelamentos","type":"main","index":0}]]},"Notificar Cancelamento":{"main":[[{"node":"Marcar Cancelamento Notificado","type":"main","index":0}]]},"Preparar Contexto Agendamento":{"main":[[{"node":"Agente Agendamento — Especialista em Marcação","type":"main","index":0}]]},"GPT-4o [Consultas]":{"ai_languageModel":[[{"node":"Agente Consultas — Especialista em Histórico","type":"ai_languageModel","index":0}]]},"Memória [Consultas]":{"ai_memory":[[{"node":"Agente Consultas — Especialista em Histórico","type":"ai_memory","index":0}]]},"Notificar Remarcação":{"main":[[{"node":"Marcar Remarcação Notificada","type":"main","index":0}]]},"Loop Remarcações":{"main":[[{"node":"Notificar Remarcação","type":"main","index":0}]]},"Monitor — A cada 10 min":{"main":[[{"node":"Buscar Consultas Remarcadas","type":"main","index":0}]]},"Monitor — A cada 30 min":{"main":[[{"node":"Buscar Cancelamentos pela Clínica","type":"main","index":0}]]},"Lembrete D-1 — Todo dia às 08h":{"main":[[{"node":"Buscar Consultas de Amanhã","type":"main","index":0}]]},"Lembrete H-2 — A cada hora":{"main":[[{"node":"Buscar Consultas em 2 Horas","type":"main","index":0}]]},"Pesquisa Satisfação — A cada 2h":{"main":[[{"node":"Buscar Consultas Realizadas","type":"main","index":0}]]},"Buscar Consultas Remarcadas":{"main":[[{"node":"Tem Remarcações?","type":"main","index":0}]]},"Tem Remarcações?":{"main":[[{"node":"Loop Remarcações","type":"main","index":0}]]},"Loop Cancelamentos":{"main":[[{"node":"Notificar Cancelamento","type":"main","index":0}]]},"Loop Lembretes D-1":{"main":[[{"node":"Enviar Lembrete D-1","type":"main","index":0}]]},"Loop Lembretes H-2":{"main":[[{"node":"Enviar Lembrete H-2","type":"main","index":0}]]},"Marcar Pesquisa Enviada":{"main":[[{"node":"Loop Pesquisa","type":"main","index":0}]]},"Fallback — Não Entendido":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Extrair Dados da Mensagem","type":"main","index":0}]]},"Tool — Cancelar Agendamento":{"ai_tool":[[{"node":"Agente Consultas — Especialista em Histórico","type":"ai_tool","index":0}]]},"GPT-4o [Agendamento]":{"ai_languageModel":[[{"node":"Agente Agendamento — Especialista em Marcação","type":"ai_languageModel","index":0}]]},"Memória [Agendamento]":{"ai_memory":[[{"node":"Agente Agendamento — Especialista em Marcação","type":"ai_memory","index":0}]]},"Tool — Registrar Agendamento":{"ai_tool":[[{"node":"Agente Agendamento — Especialista em Marcação","type":"ai_tool","index":0}]]},"Marcar Lembrete D-1 Enviado":{"main":[[{"node":"Loop Lembretes D-1","type":"main","index":0}]]},"Marcar Lembrete H-2 Enviado":{"main":[[{"node":"Loop Lembretes H-2","type":"main","index":0}]]},"Enviar Lembrete D-1":{"main":[[{"node":"Marcar Lembrete D-1 Enviado","type":"main","index":0}]]},"Buscar Consultas Realizadas":{"main":[[{"node":"Tem Feedback Pendente?","type":"main","index":0}]]},"Loop Pesquisa":{"main":[[{"node":"Enviar Pesquisa Satisfação","type":"main","index":0}]]},"Buscar Consultas em 2 Horas":{"main":[[{"node":"Tem Consultas em 2h?","type":"main","index":0}]]},"Buscar Consultas de Amanhã":{"main":[[{"node":"Tem Consultas Amanhã?","type":"main","index":0}]]},"Tem Consultas em 2h?":{"main":[[{"node":"Loop Lembretes H-2","type":"main","index":0}]]},"Tem Consultas Amanhã?":{"main":[[{"node":"Loop Lembretes D-1","type":"main","index":0}]]},"Tem Cancelamentos?":{"main":[[{"node":"Loop Cancelamentos","type":"main","index":0}]]},"Buscar Cancelamentos pela Clínica":{"main":[[{"node":"Tem Cancelamentos?","type":"main","index":0}]]},"Tem Feedback Pendente?":{"main":[[{"node":"Loop Pesquisa","type":"main","index":0}]]},"Enviar Pesquisa Satisfação":{"main":[[{"node":"Marcar Pesquisa Enviada","type":"main","index":0}]]},"Agente Triagem — Classificador de Intenção":{"main":[[{"node":"Extrair Intenção Classificada","type":"main","index":0}]]},"Agente Consultas — Especialista em Histórico":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]},"Agente Agendamento — Especialista em Marcação":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]},"Enviar Lembrete H-2":{"main":[[{"node":"Marcar Lembrete H-2 Enviado","type":"main","index":0}]]},"Tool — WhatsApp [Agendamento]":{"ai_tool":[[{"node":"Agente Agendamento — Especialista em Marcação","type":"ai_tool","index":0}]]},"Tool — WhatsApp [Consultas]":{"ai_tool":[[{"node":"Agente Consultas — Especialista em Histórico","type":"ai_tool","index":0}]]},"Detectar Resposta de Pesquisa":{"main":[[{"node":"É Resposta de Pesquisa?","type":"main","index":0}]]},"É Resposta de Pesquisa?":{"main":[[{"node":"Buscar Agendamento da Pesquisa","type":"main","index":0}]]},"Buscar Agendamento da Pesquisa":{"main":[[{"node":"Preparar Dados da Avaliação","type":"main","index":0}]]},"Preparar Dados da Avaliação":{"main":[[{"node":"Salvar Avaliação no Banco","type":"main","index":0}]]},"Salvar Avaliação no Banco":{"main":[[{"node":"Marcar Pesquisa Respondida","type":"main","index":0}]]},"Marcar Pesquisa Respondida":{"main":[[{"node":"Montar Resposta da Avaliação","type":"main","index":0}]]},"Montar Resposta da Avaliação":{"main":[[{"node":"Enviar Confirmação da Avaliação","type":"main","index":0}]]},"Enviar Confirmação da Avaliação":{"main":[[{"node":"Nota Baixa? (1 ou 2)","type":"main","index":0}]]},"Nota Baixa? (1 ou 2)":{"main":[[{"node":"Gerar Alerta de Qualidade","type":"main","index":0}]]},"Relatório Semanal — Segunda às 07h":{"main":[[{"node":"Buscar Indicadores Gerais","type":"main","index":0}]]},"Buscar Indicadores Gerais":{"main":[[{"node":"Montar Relatório Semanal","type":"main","index":0}]]},"Indicadores por Médico":{"main":[[{"node":"Montar Relatório Semanal","type":"main","index":0}]]},"Montar Relatório Semanal":{"main":[[{"node":"Enviar Relatório ao Gestor","type":"main","index":0}]]},"Responder Webhook":{"main":[[{"node":"Detectar Resposta de Pesquisa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3bce6493-8cef-4fa3-bd57-ab252a272ca6","activeVersionId":null,"versionCounter":125,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T21:19:30.408Z","createdAt":"2026-03-04T21:19:30.408Z","role":"workflow:owner","workflowId":"BEYngaCo2hLamwZBh9A1K","projectId":"LZWJDGkejcu9c8Og","project":{"updatedAt":"2026-02-11T15:44:04.045Z","createdAt":"2026-02-10T18:40:23.427Z","id":"LZWJDGkejcu9c8Og","name":"CAINÃ ATAIDE <cainaataide48@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d242ea6d-9447-45db-a8a4-19443875d0cc"}}]},{"updatedAt":"2026-04-14T19:09:16.226Z","createdAt":"2026-04-12T22:06:49.343Z","id":"EJUzm2aKH6sLITaxcPQ9J","name":"My workflow 2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"teste-envio-avaliacao","responseMode":"responseNode","options":{}},"id":"0f83d436-25b9-40ff-821e-29d362a0ef0f","name":"Disparar Teste Manualmente","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"fuben-teste-envio"},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"paciente_nome","value":"Cainã Ataíde","type":"string"},{"id":"2","name":"paciente_celular","value":"5598988542320","type":"string"},{"id":"3","name":"medico_nome","value":"Dr. Roberto Almeida","type":"string"},{"id":"4","name":"data_consulta_fmt","value":"29/03/2026","type":"string"}]},"options":{}},"id":"a12c5838-f684-4e79-b066-4286817bfe18","name":"Dados Mock do Paciente","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[208,0]},{"parameters":{"method":"POST","url":"http://host.docker.internal:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Api-Key","value":"fuben2026"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"chatId\": \"559882308024@c.br\",\n  \"text\": \"Olá, Samuel! 😊\\n\\nObrigado por nos visitar hoje no CADH Calhau.\\n\\nQue tal nos contar como foi seu atendimento? Leva menos de 1 minuto:\\n\\n👉  https://hands-carry-national-dishes.trycloudflare.com/webhook/formulario?nome=Cain%C3%A3%20Ata%C3%ADde&medico=Dr.+Roberto+Almeida&data=29/03/2026\\n\\nAté breve! 🌿\",\n  \"session\": \"default\"\n}","options":{}},"id":"5ec6bfe4-418b-422d-8f06-ce32ed95b1da","name":"WAHA — Enviar Link Avaliação","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,0]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ok\", \"mensagem\": \"Mensagem de teste enviada!\" }","options":{"responseCode":200}},"id":"5f569dfd-44d6-49c5-ab30-0918df76fe4a","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[608,0]},{"parameters":{"httpMethod":"POST","path":"avaliacao-submit","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"bec828c5-ecca-4160-88eb-0e40e91ba29f","name":"Webhook Avaliação","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[912,-80],"webhookId":"fuben-avaliacao-submit"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst notas = [\n  body.avaliacoes?.atendimento || 0,\n  body.avaliacoes?.espera     || 0,\n  body.avaliacoes?.recepcao   || 0,\n  body.avaliacoes?.estrutura  || 0\n];\n\nconst media = notas.reduce((a, b) => a + b, 0) / notas.length;\nconst mediaFormatada = Math.round(media * 10) / 10;\n\nconst esc = (str) => (str || '').substring(0, 300);\n\nreturn [{\n  json: {\n    paciente_nome:     esc(body.paciente),\n    nps:               parseInt(body.nps) || 0,\n    nota_atendimento:  parseInt(body.avaliacoes?.atendimento) || 0,\n    nota_espera:       parseInt(body.avaliacoes?.espera)      || 0,\n    nota_recepcao:     parseInt(body.avaliacoes?.recepcao)    || 0,\n    nota_estrutura:    parseInt(body.avaliacoes?.estrutura)   || 0,\n    media_geral:       mediaFormatada,\n    com_atendimento:   esc(body.comentarios?.atendimento),\n    com_espera:        esc(body.comentarios?.espera),\n    com_recepcao:      esc(body.comentarios?.recepcao),\n    com_estrutura:     esc(body.comentarios?.estrutura),\n    comentario_geral:  esc(body.comentario_geral),\n    alerta_qualidade:  (parseInt(body.nps) || 0) <= 7\n  }\n}];"},"id":"6be2b0c7-0000-4b3a-bad0-61e74e56d115","name":"Preparar e Calcular Dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,-80]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ok\", \"mensagem\": \"Avaliação recebida com sucesso\" }","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"709a6d80-a905-4656-9880-5d37af091206","name":"Responder OK ao Formulário","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1344,192]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-nps","leftValue":"={{ $json.alerta_qualidade }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"02b6b5b3-4c27-4022-b0d2-3230fb5b6126","name":"NPS Baixo? (≤ 7)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1360,-80]},{"parameters":{"method":"POST","url":"http://localhost:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Api-Key","value":"fuben2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"c41fd1ff-8ea3-41dc-95df-bf8141a322fe","name":"WAHA — Alerta Qualidade","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1552,-176]},{"parameters":{},"id":"0e823a7d-7d2e-4b83-99a3-09ed441cf0a1","name":"NPS OK — sem alerta","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1552,16]},{"parameters":{"method":"POST","url":"http://localhost:3000/api/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Api-Key","value":"fuben2026"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"1830ea7f-1fa8-4a86-86ae-95f524a55f85","name":"WAHA — Confirmação para Gestor","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1760,-176]},{"parameters":{"path":"avaliacao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1120,176],"id":"4fd902b2-60e5-4f49-85af-ed9c3475f1ba","name":"Webhook","webhookId":"55b0b532-5611-4f55-bc37-743b4b3237f9"},{"parameters":{"path":"formulario","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,384],"id":"91403d15-cbf2-48be-8154-39651d32865e","name":"Webhook1","webhookId":"cfd73da5-0cf4-4b8a-aab4-ccb9d27577b4"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0\" />\n  <title>Avaliação de Atendimento — CADH Calhau</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap\" rel=\"stylesheet\" />\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n    :root {\n      --teal-50:   #E1F5EE;\n      --teal-100:  #9FE1CB;\n      --teal-400:  #1D9E75;\n      --teal-600:  #0F6E56;\n      --teal-800:  #085041;\n      --amber-50:  #FAEEDA;\n      --amber-100: #FAC775;\n      --amber-400: #BA7517;\n      --gray-100:  #D3D1C7;\n      --gray-400:  #888780;\n      --gray-600:  #5F5E5A;\n      --bg:        #f4f6f5;\n      --surface:   #ffffff;\n      --text:      #1a1a1a;\n      --text-muted:#5a5a5a;\n      --text-hint: #999;\n      --border:    rgba(0,0,0,0.10);\n      --border-md: rgba(0,0,0,0.16);\n      --radius-md: 10px;\n      --radius-lg: 16px;\n      --radius-xl: 24px;\n    }\n\n    html, body {\n      min-height: 100%;\n      background: var(--bg);\n      font-family: 'DM Sans', system-ui, sans-serif;\n      color: var(--text);\n      -webkit-font-smoothing: antialiased;\n    }\n\n    /* ── PAGE LAYOUT ── */\n    .page {\n      min-height: 100vh;\n      display: flex;\n      align-items: flex-start;\n      justify-content: center;\n      padding: 0 0 40px;\n    }\n    .phone-frame {\n      width: 100%;\n      max-width: 430px;\n      background: var(--bg);\n      min-height: 100vh;\n      position: relative;\n      overflow-x: hidden;\n    }\n\n    /* ── TOP BAR WELCOME ── */\n    .top-bar {\n      background: var(--teal-400);\n      padding: 20px 20px 36px;\n      position: relative;\n      overflow: hidden;\n    }\n    .top-bar::after {\n      content: '';\n      position: absolute;\n      bottom: -22px; left: 0; right: 0;\n      height: 44px;\n      background: var(--bg);\n      border-radius: 50% 50% 0 0 / 22px 22px 0 0;\n    }\n    .logo-strip {\n      display: flex;\n      align-items: center;\n      gap: 8px;\n      background: rgba(255,255,255,0.96);\n      border-radius: 10px;\n      padding: 9px 13px;\n      margin-bottom: 18px;\n    }\n    .logo-hslz { display: flex; flex-direction: column; line-height: 1; flex-shrink: 0; }\n    .logo-hslz .gestao { font-size: 7px; font-weight: 500; color: var(--teal-400); letter-spacing: 0.06em; text-transform: uppercase; }\n    .logo-hslz .hslz { font-size: 18px; font-weight: 700; color: #111; letter-spacing: -0.5px; }\n    .logo-div { width: 0.5px; height: 30px; background: #ccc; flex-shrink: 0; }\n    .logo-ma { display: flex; flex-direction: column; align-items: center; flex: 1; min-width: 0; }\n    .gov-do { font-size: 6px; color: #555; letter-spacing: 0.08em; text-transform: uppercase; }\n    .maranhao-text { display: flex; gap: 0px; align-items: center; }\n    .ma-letter { font-size: 13px; font-weight: 800; line-height: 1; }\n    .trabalhando { font-size: 5.5px; color: #666; letter-spacing: 0.06em; text-transform: uppercase; margin-top: 1px; }\n    .logo-sead { display: flex; flex-direction: column; line-height: 1.3; flex-shrink: 0; }\n    .sead-title { font-size: 7.5px; font-weight: 700; color: #333; }\n    .sead-sub { font-size: 5.5px; color: #777; max-width: 54px; line-height: 1.35; }\n    .top-title { font-size: 20px; font-weight: 700; color: #fff; line-height: 1.3; }\n    .top-sub { font-size: 13px; color: rgba(255,255,255,0.75); margin-top: 4px; }\n\n    /* ── TOP BAR COMPACT ── */\n    .top-bar-compact {\n      background: var(--teal-400);\n      padding: 14px 20px 30px;\n      position: relative;\n      overflow: hidden;\n    }\n    .top-bar-compact::after {\n      content: '';\n      position: absolute;\n      bottom: -22px; left: 0; right: 0;\n      height: 44px;\n      background: var(--bg);\n      border-radius: 50% 50% 0 0 / 22px 22px 0 0;\n    }\n    .compact-logo-row {\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      background: rgba(255,255,255,0.93);\n      border-radius: 8px;\n      padding: 6px 11px;\n      margin-bottom: 12px;\n    }\n    .c-block { display: flex; flex-direction: column; line-height: 1; }\n    .c-gestao { font-size: 6.5px; color: var(--teal-400); font-weight: 500; letter-spacing: 0.05em; text-transform: uppercase; }\n    .c-hslz { font-size: 13px; font-weight: 700; color: #111; }\n    .c-sep { width: 0.5px; height: 22px; background: #ccc; }\n    .c-sead { font-size: 7px; font-weight: 700; color: #333; }\n    .compact-title { font-size: 15px; font-weight: 500; color: #fff; }\n\n    /* ── CONTENT ── */\n    .content { padding: 22px 20px 32px; }\n    .step { display: none; }\n    .step.active { display: block; animation: fadeIn 0.25s ease; }\n    @keyframes fadeIn { from { opacity: 0; transform: translateY(6px); } to { opacity: 1; transform: none; } }\n\n    /* ── STEP DOTS ── */\n    .step-indicator { display: flex; gap: 6px; justify-content: center; margin-bottom: 22px; }\n    .dot { width: 8px; height: 8px; border-radius: 50%; background: var(--border-md); transition: background 0.3s; }\n    .dot.active { background: var(--teal-400); }\n    .dot.done { background: var(--teal-100); }\n\n    /* ── LABELS / TITLES ── */\n    .section-label { font-size: 10px; font-weight: 500; color: var(--teal-400); letter-spacing: 0.09em; text-transform: uppercase; margin-bottom: 5px; }\n    .section-title { font-size: 17px; font-weight: 700; color: var(--text); margin-bottom: 16px; line-height: 1.4; }\n\n    /* ── PATIENT CARD ── */\n    .paciente-card {\n      background: var(--teal-50);\n      border-radius: var(--radius-lg);\n      padding: 13px 15px;\n      margin-bottom: 22px;\n      display: flex; align-items: center; gap: 12px;\n      border: 0.5px solid var(--teal-100);\n    }\n    .avatar {\n      width: 40px; height: 40px; border-radius: 50%;\n      background: var(--teal-400);\n      display: flex; align-items: center; justify-content: center;\n      font-size: 13px; font-weight: 700; color: #fff; flex-shrink: 0;\n    }\n    .pac-name { font-size: 14px; font-weight: 700; color: var(--teal-800); }\n    .pac-info { font-size: 11px; color: var(--teal-600); margin-top: 2px; }\n\n    /* ── CATEGORY CARDS ── */\n    .category-card {\n      background: var(--surface);\n      border: 0.5px solid var(--border);\n      border-radius: var(--radius-lg);\n      padding: 14px 16px;\n      margin-bottom: 10px;\n      transition: border-color 0.25s, box-shadow 0.25s;\n    }\n    .category-card.rated { border-color: var(--teal-100); box-shadow: 0 2px 8px rgba(29,158,117,0.07); }\n    .cat-name { font-size: 13px; color: var(--text-muted); margin-bottom: 10px; font-weight: 500; }\n    .stars { display: flex; gap: 4px; }\n    .star { width: 36px; height: 36px; cursor: pointer; display: flex; align-items: center; justify-content: center; }\n    .star svg { width: 28px; height: 28px; transition: transform 0.15s; }\n    .star:hover svg { transform: scale(1.18); }\n    .star svg path { fill: #ddd; transition: fill 0.2s; }\n    .star.filled svg path { fill: #F5A623; }\n    .star.hover-fill svg path { fill: #FAC775; }\n\n    .cat-comment-wrap {\n      overflow: hidden; max-height: 0;\n      transition: max-height 0.35s ease, margin-top 0.3s ease, opacity 0.25s;\n      opacity: 0; margin-top: 0;\n    }\n    .cat-comment-wrap.open { max-height: 130px; opacity: 1; margin-top: 10px; }\n    .cat-comment {\n      width: 100%;\n      border: 0.5px solid var(--border-md);\n      outline: none;\n      background: var(--bg);\n      border-radius: var(--radius-md);\n      font-size: 12px; font-family: 'DM Sans', sans-serif;\n      color: var(--text);\n      resize: none; padding: 9px 11px; line-height: 1.55;\n      transition: border-color 0.2s;\n    }\n    .cat-comment:focus { border-color: var(--teal-400); }\n    .cat-comment::placeholder { color: var(--text-hint); }\n\n    /* ── NPS ── */\n    .nps-row { display: flex; gap: 5px; flex-wrap: wrap; justify-content: center; margin-top: 18px; }\n    .nps-num {\n      width: 40px; height: 40px; border-radius: var(--radius-md);\n      border: 0.5px solid var(--border-md);\n      background: var(--surface);\n      font-size: 13px; font-weight: 500;\n      display: flex; align-items: center; justify-content: center;\n      cursor: pointer; color: var(--text-muted);\n      transition: all 0.15s;\n    }\n    .nps-num:hover { border-color: var(--teal-400); color: var(--teal-400); }\n    .nps-num.selected { background: var(--teal-400); color: #fff; border-color: var(--teal-400); }\n    .nps-labels { display: flex; justify-content: space-between; font-size: 10px; color: var(--text-hint); margin-top: 8px; }\n\n    /* ── COMMENT BOX ── */\n    .comment-box {\n      background: var(--surface);\n      border: 0.5px solid var(--border);\n      border-radius: var(--radius-lg);\n      padding: 13px 15px;\n      margin-bottom: 8px;\n    }\n    .comment-box textarea {\n      width: 100%; border: none; outline: none;\n      background: transparent;\n      font-size: 13px; font-family: 'DM Sans', sans-serif;\n      color: var(--text); resize: none; min-height: 95px; line-height: 1.65;\n    }\n    .comment-box textarea::placeholder { color: var(--text-hint); }\n    .char-count { font-size: 10px; color: var(--text-hint); text-align: right; margin-top: 3px; }\n\n    /* ── BUTTONS ── */\n    .btn-primary {\n      width: 100%; padding: 15px;\n      background: var(--teal-400); color: #fff;\n      border: none; border-radius: var(--radius-lg);\n      font-size: 15px; font-weight: 700;\n      cursor: pointer; margin-top: 16px;\n      font-family: 'DM Sans', sans-serif;\n      letter-spacing: 0.01em;\n      transition: background 0.2s, transform 0.1s, box-shadow 0.2s;\n      box-shadow: 0 4px 16px rgba(29,158,117,0.25);\n    }\n    .btn-primary:hover { background: var(--teal-600); box-shadow: 0 6px 20px rgba(29,158,117,0.30); }\n    .btn-primary:active { transform: scale(0.98); }\n    .btn-primary:disabled { background: var(--gray-100); color: var(--gray-400); cursor: not-allowed; box-shadow: none; }\n    .btn-back {\n      display: inline-flex; align-items: center; gap: 5px;\n      background: none; border: none; cursor: pointer;\n      font-size: 12px; color: var(--text-muted);\n      font-family: 'DM Sans', sans-serif;\n      padding: 0; margin-bottom: 18px;\n      transition: color 0.15s;\n    }\n    .btn-back:hover { color: var(--text); }\n\n    /* ── SUCCESS ── */\n    .success-wrap { text-align: center; padding: 20px 0 28px; }\n    .result-icon {\n      width: 68px; height: 68px; border-radius: 50%;\n      display: flex; align-items: center; justify-content: center;\n      margin: 0 auto 20px;\n    }\n    .result-icon.positive { background: var(--teal-50); border: 0.5px solid var(--teal-100); }\n    .result-icon.evolving { background: var(--amber-50); border: 0.5px solid var(--amber-100); }\n    .success-title { font-size: 22px; font-weight: 700; color: var(--text); margin-bottom: 12px; }\n    .success-msg {\n      font-size: 14px; color: var(--text-muted);\n      line-height: 1.75; margin-bottom: 24px; padding: 0 8px;\n    }\n    .summary-list {\n      text-align: left;\n      background: var(--surface);\n      border-radius: var(--radius-lg);\n      border: 0.5px solid var(--border);\n      padding: 14px 16px;\n    }\n    .sum-header { font-size: 10px; font-weight: 500; color: var(--text-hint); letter-spacing: 0.07em; text-transform: uppercase; margin-bottom: 10px; }\n    .sum-row {\n      display: flex; justify-content: space-between; align-items: flex-start;\n      padding: 8px 0; border-bottom: 0.5px solid var(--border); gap: 8px;\n    }\n    .sum-row:last-child { border-bottom: none; }\n    .sum-label { font-size: 13px; color: var(--text); font-weight: 500; }\n    .sum-stars { font-size: 13px; color: #F5A623; flex-shrink: 0; }\n    .sum-comment { font-size: 11px; color: var(--text-hint); margin-top: 4px; font-style: italic; }\n  </style>\n</head>\n<body>\n<div class=\"page\">\n  <div class=\"phone-frame\">\n\n    <!-- Welcome top bar -->\n    <div id=\"bar-welcome\" class=\"top-bar\">\n      <div class=\"logo-strip\">\n        <div class=\"logo-hslz\">\n          <span class=\"gestao\">Gestão</span>\n          <span class=\"hslz\">HSLZ</span>\n        </div>\n        <div class=\"logo-div\"></div>\n        <div class=\"logo-ma\">\n          <span class=\"gov-do\">Governo do</span>\n          <div class=\"maranhao-text\">\n            <span class=\"ma-letter\" style=\"color:#E63329\">M</span>\n            <span class=\"ma-letter\" style=\"color:#F5A623\">A</span>\n            <svg viewBox=\"0 0 14 14\" width=\"11\" height=\"11\" style=\"flex-shrink:0;margin:0 1px\">\n              <polygon points=\"7,1 8.5,5.5 13,5.5 9.5,8.5 11,13 7,10 3,13 4.5,8.5 1,5.5 5.5,5.5\" fill=\"#3578BE\"/>\n            </svg>\n            <span class=\"ma-letter\" style=\"color:#1DA462\">R</span>\n            <span class=\"ma-letter\" style=\"color:#E63329\">A</span>\n            <span class=\"ma-letter\" style=\"color:#F5A623\">N</span>\n            <span class=\"ma-letter\" style=\"color:#3578BE\">H</span>\n            <span class=\"ma-letter\" style=\"color:#1DA462\">Ã</span>\n            <span class=\"ma-letter\" style=\"color:#E63329\">O</span>\n          </div>\n          <span class=\"trabalhando\">Trabalhando para todos</span>\n        </div>\n        <div class=\"logo-div\"></div>\n        <div class=\"logo-sead\">\n          <span class=\"sead-title\">SEAD</span>\n          <span class=\"sead-sub\">Secretaria de Estado da Administração</span>\n        </div>\n      </div>\n      <div class=\"top-title\">Como foi sua consulta?</div>\n      <div class=\"top-sub\">Sua opinião melhora o atendimento</div>\n    </div>\n\n    <!-- Compact top bar -->\n    <div id=\"bar-compact\" class=\"top-bar-compact\" style=\"display:none\">\n      <div class=\"compact-logo-row\">\n        <div class=\"c-block\">\n          <span class=\"c-gestao\">Gestão</span>\n          <span class=\"c-hslz\">HSLZ</span>\n        </div>\n        <div class=\"c-sep\"></div>\n        <div style=\"display:flex;gap:0px;align-items:center;\">\n          <span style=\"font-size:11px;font-weight:800;color:#E63329\">M</span>\n          <span style=\"font-size:11px;font-weight:800;color:#F5A623\">A</span>\n          <svg viewBox=\"0 0 10 10\" width=\"9\" height=\"9\" style=\"flex-shrink:0;margin:0 1px\">\n            <polygon points=\"5,1 6,3.5 9,3.5 6.8,5.5 7.5,8 5,6.5 2.5,8 3.2,5.5 1,3.5 4,3.5\" fill=\"#3578BE\"/>\n          </svg>\n          <span style=\"font-size:11px;font-weight:800;color:#1DA462\">R</span>\n          <span style=\"font-size:11px;font-weight:800;color:#E63329\">A</span>\n          <span style=\"font-size:11px;font-weight:800;color:#F5A623\">N</span>\n          <span style=\"font-size:11px;font-weight:800;color:#3578BE\">H</span>\n          <span style=\"font-size:11px;font-weight:800;color:#1DA462\">Ã</span>\n          <span style=\"font-size:11px;font-weight:800;color:#E63329\">O</span>\n        </div>\n        <div class=\"c-sep\"></div>\n        <span class=\"c-sead\">SEAD</span>\n      </div>\n      <div class=\"compact-title\" id=\"compact-step-label\">Avaliação por categoria</div>\n    </div>\n\n    <div class=\"content\">\n      <div class=\"step-indicator\" id=\"dots\"></div>\n\n      <!-- Step 1: Boas-vindas -->\n      <div class=\"step active\" id=\"step-1\">\n        <div class=\"paciente-card\">\n          <div class=\"avatar\" id=\"avatar-initials\">MJ</div>\n          <div>\n            <div class=\"pac-name\" id=\"pac-name\">Maria José Santos</div>\n            <div class=\"pac-info\" id=\"pac-info\">Dr. Roberto Almeida · 28/03/2026</div>\n          </div>\n        </div>\n        <div class=\"section-label\">Avaliação de atendimento</div>\n        <div class=\"section-title\">Olá! Levará apenas 1 minuto.</div>\n        <p style=\"font-size:14px;color:var(--text-muted);line-height:1.75;margin-bottom:8px;\">\n          Avalie seu atendimento de hoje no CADH Calhau. Você pode comentar individualmente em cada aspecto se quiser — sua opinião chega direto para nossa equipe.\n        </p>\n        <button class=\"btn-primary\" onclick=\"goTo(2)\">Iniciar avaliação</button>\n      </div>\n\n      <!-- Step 2: Categorias -->\n      <div class=\"step\" id=\"step-2\">\n        <button class=\"btn-back\" onclick=\"goTo(1)\">← voltar</button>\n        <div class=\"section-label\">Passo 1 de 3</div>\n        <div class=\"section-title\">Avalie cada aspecto</div>\n        <div id=\"categories-container\"></div>\n        <button class=\"btn-primary\" id=\"btn-cat\" onclick=\"goTo(3)\" disabled>Continuar</button>\n      </div>\n\n      <!-- Step 3: NPS -->\n      <div class=\"step\" id=\"step-3\">\n        <button class=\"btn-back\" onclick=\"goTo(2)\">← voltar</button>\n        <div class=\"section-label\">Passo 2 de 3</div>\n        <div class=\"section-title\">Recomendaria o CADH Calhau para alguém?</div>\n        <div class=\"nps-row\" id=\"nps-nums\"></div>\n        <div class=\"nps-labels\"><span>Não recomendaria</span><span>Recomendaria</span></div>\n        <button class=\"btn-primary\" id=\"btn-nps\" onclick=\"goTo(4)\" disabled style=\"margin-top:22px\">Continuar</button>\n      </div>\n\n      <!-- Step 4: Comentário geral -->\n      <div class=\"step\" id=\"step-4\">\n        <button class=\"btn-back\" onclick=\"goTo(3)\">← voltar</button>\n        <div class=\"section-label\">Passo 3 de 3</div>\n        <div class=\"section-title\">Algum comentário geral?</div>\n        <div class=\"comment-box\">\n          <textarea id=\"comment\" maxlength=\"300\" placeholder=\"Observações gerais sobre sua visita (opcional)...\" oninput=\"updateChar()\"></textarea>\n          <div class=\"char-count\"><span id=\"char-n\">0</span>/300</div>\n        </div>\n        <button class=\"btn-primary\" onclick=\"submitForm()\">Enviar avaliação</button>\n      </div>\n\n      <!-- Step 5: Resultado -->\n      <div class=\"step\" id=\"step-5\">\n        <div class=\"success-wrap\">\n          <div class=\"result-icon\" id=\"result-icon\"></div>\n          <div class=\"success-title\" id=\"result-title\"></div>\n          <div class=\"success-msg\" id=\"result-msg\"></div>\n          <div class=\"summary-list\" id=\"summary-list\"></div>\n        </div>\n      </div>\n    </div>\n\n  </div>\n</div>\n\n<script>\n  /* ── CONFIGURAÇÃO ──────────────────────────────────────────── */\n  // Para pré-preencher via URL: ?nome=Maria+Santos&medico=Dr.+Roberto&data=28/03/2026\n  // O n8n deve gerar o link com esses parâmetros.\n  // Webhook destino — substitua pela URL real do n8n:\n  const WEBHOOK_URL = 'https://SEU_N8N/webhook/avaliacao';\n\n  const CATS = [\n    { id: 'atendimento', label: 'Atendimento médico',    placeholder: 'Como foi a consulta com o médico?' },\n    { id: 'espera',      label: 'Tempo de espera',        placeholder: 'O tempo de espera foi adequado?' },\n    { id: 'recepcao',   label: 'Recepção e acolhimento', placeholder: 'Como foi o atendimento na recepção?' },\n    { id: 'estrutura',  label: 'Estrutura e ambiente',   placeholder: 'O espaço estava confortável e limpo?' },\n  ];\n\n  const ratings = {}, catComments = {};\n  let npsScore = null;\n  const totalSteps = 4;\n  const stepLabels = ['','','Avaliação por categoria','Recomendação','Comentário geral'];\n\n  /* ── URL PARAMS ────────────────────────────────────────────── */\n  function getParam(key) {\n    return new URLSearchParams(window.location.search).get(key) || null;\n  }\n\n  /* ── NAVIGATION ────────────────────────────────────────────── */\n  function buildDots() {\n    const el = document.getElementById('dots');\n    el.innerHTML = '';\n    for (let i = 1; i <= totalSteps; i++) {\n      const d = document.createElement('div');\n      d.className = 'dot'; d.id = 'dot-' + i;\n      el.appendChild(d);\n    }\n  }\n  function updateDots(step) {\n    for (let i = 1; i <= totalSteps; i++) {\n      const d = document.getElementById('dot-' + i);\n      if (d) d.className = 'dot' + (i < step ? ' done' : i === step ? ' active' : '');\n    }\n  }\n  function goTo(n) {\n    document.querySelectorAll('.step').forEach(s => s.classList.remove('active'));\n    document.getElementById('step-' + n).classList.add('active');\n    window.scrollTo({ top: 0, behavior: 'smooth' });\n    const wb = document.getElementById('bar-welcome');\n    const cb = document.getElementById('bar-compact');\n    const dotsEl = document.getElementById('dots');\n    if (n === 1) {\n      wb.style.display = ''; cb.style.display = 'none'; dotsEl.style.display = 'none';\n    } else if (n === 5) {\n      wb.style.display = 'none'; cb.style.display = '';\n      document.getElementById('compact-step-label').textContent = 'Avaliação concluída';\n      dotsEl.style.display = 'none';\n    } else {\n      wb.style.display = 'none'; cb.style.display = '';\n      document.getElementById('compact-step-label').textContent = stepLabels[n] || '';\n      dotsEl.style.display = 'flex';\n      updateDots(n - 1);\n    }\n  }\n\n  /* ── CATEGORIAS ────────────────────────────────────────────── */\n  function buildCategories() {\n    const cont = document.getElementById('categories-container');\n    cont.innerHTML = '';\n    CATS.forEach(cat => {\n      const card = document.createElement('div');\n      card.className = 'category-card'; card.id = 'card-' + cat.id;\n      card.innerHTML = `\n        <div class=\"cat-name\">${cat.label}</div>\n        <div class=\"stars\" id=\"stars-${cat.id}\">\n          ${[1,2,3,4,5].map(v => `\n            <div class=\"star\" data-cat=\"${cat.id}\" data-val=\"${v}\"\n              onmouseenter=\"hoverStar('${cat.id}',${v})\"\n              onmouseleave=\"unhoverStar('${cat.id}')\"\n              onclick=\"setStar('${cat.id}',${v})\">\n              <svg viewBox=\"0 0 24 24\"><path d=\"M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z\"/></svg>\n            </div>`).join('')}\n        </div>\n        <div class=\"cat-comment-wrap\" id=\"wrap-${cat.id}\">\n          <textarea class=\"cat-comment\" maxlength=\"200\"\n            placeholder=\"${cat.placeholder}\"\n            oninput=\"saveCatComment('${cat.id}',this.value)\"></textarea>\n        </div>`;\n      cont.appendChild(card);\n    });\n  }\n\n  function getStars(id) { return document.querySelectorAll(`#stars-${id} .star`); }\n  function hoverStar(id, val) {\n    getStars(id).forEach(s => s.classList.toggle('hover-fill', +s.dataset.val <= val && !s.classList.contains('filled')));\n  }\n  function unhoverStar(id) { getStars(id).forEach(s => s.classList.remove('hover-fill')); }\n  function setStar(id, val) {\n    ratings[id] = val;\n    getStars(id).forEach(s => s.classList.toggle('filled', +s.dataset.val <= val));\n    document.getElementById('card-' + id).classList.add('rated');\n    document.getElementById('wrap-' + id).classList.add('open');\n    document.getElementById('btn-cat').disabled = !CATS.every(c => ratings[c.id]);\n  }\n  function saveCatComment(id, val) { catComments[id] = val; }\n\n  /* ── NPS ───────────────────────────────────────────────────── */\n  function buildNPS() {\n    const row = document.getElementById('nps-nums');\n    row.innerHTML = '';\n    for (let i = 0; i <= 10; i++) {\n      const d = document.createElement('div');\n      d.className = 'nps-num'; d.textContent = i; d.id = 'nps-' + i;\n      d.onclick = () => {\n        npsScore = i;\n        document.querySelectorAll('.nps-num').forEach(n => n.classList.remove('selected'));\n        d.classList.add('selected');\n        document.getElementById('btn-nps').disabled = false;\n      };\n      row.appendChild(d);\n    }\n  }\n\n  function updateChar() {\n    document.getElementById('char-n').textContent = document.getElementById('comment').value.length;\n  }\n\n  /* ── SUBMIT ────────────────────────────────────────────────── */\n  function submitForm() {\n    const payload = {\n      paciente: document.getElementById('pac-name').textContent,\n      data: document.getElementById('pac-info').textContent,\n      avaliacoes: {},\n      comentarios: {},\n      nps: npsScore,\n      comentario_geral: document.getElementById('comment').value,\n      timestamp: new Date().toISOString()\n    };\n    CATS.forEach(c => {\n      payload.avaliacoes[c.id] = ratings[c.id] || 0;\n      payload.comentarios[c.id] = catComments[c.id] || '';\n    });\n\n    // Envia para o n8n (sem bloquear a UI)\n    fetch(WEBHOOK_URL, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(payload)\n    }).catch(() => {}); // falha silenciosa — não impede a experiência do paciente\n\n    buildSuccess();\n    buildSummary();\n    goTo(5);\n  }\n\n  /* ── TELA FINAL ────────────────────────────────────────────── */\n  function buildSuccess() {\n    const firstName = document.getElementById('pac-name').textContent.trim().split(' ')[0];\n    const icon = document.getElementById('result-icon');\n    const title = document.getElementById('result-title');\n    const msg = document.getElementById('result-msg');\n\n    if (npsScore > 7) {\n      icon.className = 'result-icon positive';\n      icon.innerHTML = `<svg viewBox=\"0 0 36 36\" fill=\"none\" width=\"34\" height=\"34\">\n        <circle cx=\"18\" cy=\"18\" r=\"17\" stroke=\"#1D9E75\" stroke-width=\"1.5\"/>\n        <path d=\"M10 18.5l5.5 5.5 10.5-11\" stroke=\"#1D9E75\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n      </svg>`;\n      title.textContent = `Obrigada, ${firstName}!`;\n      msg.textContent = `Sua avaliação foi recebida e já contribui para o nosso crescimento. Esperamos te receber em breve com um atendimento ainda melhor — evoluir em qualidade é o nosso compromisso de cada dia.`;\n    } else {\n      icon.className = 'result-icon evolving';\n      icon.innerHTML = `<svg viewBox=\"0 0 36 36\" fill=\"none\" width=\"34\" height=\"34\">\n        <circle cx=\"18\" cy=\"18\" r=\"17\" stroke=\"#BA7517\" stroke-width=\"1.5\"/>\n        <path d=\"M10 23 Q13 15 18 18 Q22 21 26 13\" stroke=\"#BA7517\" stroke-width=\"1.8\" stroke-linecap=\"round\" fill=\"none\"/>\n        <polyline points=\"23,11 26,13 24,16\" stroke=\"#BA7517\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\" fill=\"none\"/>\n      </svg>`;\n      title.textContent = `Pedimos desculpas, ${firstName}.`;\n      msg.textContent = `Lamentamos que sua experiência não tenha sido a ideal. Estamos em constante evolução e em busca da excelência no atendimento — seu retorno nos ajuda a crescer. Esperamos te receber novamente e superar suas expectativas.`;\n    }\n  }\n\n  function buildSummary() {\n    const list = document.getElementById('summary-list');\n    list.innerHTML = '<div class=\"sum-header\">Resumo da sua avaliação</div>';\n    CATS.forEach(c => {\n      const n = ratings[c.id] || 0;\n      const comment = catComments[c.id] || '';\n      const row = document.createElement('div');\n      row.className = 'sum-row';\n      row.style.flexDirection = 'column';\n      row.style.alignItems = 'flex-start';\n      row.innerHTML = `\n        <div style=\"display:flex;justify-content:space-between;width:100%\">\n          <span class=\"sum-label\">${c.label}</span>\n          <span class=\"sum-stars\">${'★'.repeat(n)}${'☆'.repeat(5-n)}</span>\n        </div>\n        ${comment ? `<div class=\"sum-comment\">\"${comment}\"</div>` : ''}`;\n      list.appendChild(row);\n    });\n    const comment = document.getElementById('comment').value;\n    if (comment) {\n      const row = document.createElement('div');\n      row.className = 'sum-row'; row.style.flexDirection = 'column';\n      row.innerHTML = `<span class=\"sum-label\">Comentário geral</span>\n        <div class=\"sum-comment\" style=\"margin-top:4px\">\"${comment}\"</div>`;\n      list.appendChild(row);\n    }\n  }\n\n  /* ── PATIENT PRE-FILL ──────────────────────────────────────── */\n  function setPatient(name, doctor, date) {\n    const parts = name.trim().split(' ');\n    const initials = parts.length >= 2\n      ? parts[0][0] + parts[parts.length - 1][0]\n      : parts[0].slice(0, 2);\n    document.getElementById('avatar-initials').textContent = initials.toUpperCase();\n    document.getElementById('pac-name').textContent = name;\n    document.getElementById('pac-info').textContent = `${doctor} · ${date}`;\n  }\n\n  /* ── INIT ──────────────────────────────────────────────────── */\n  buildDots();\n  buildCategories();\n  buildNPS();\n\n  // Lê parâmetros da URL (enviados pelo n8n via link do WhatsApp)\n  const nomePac    = getParam('nome')   || 'Paciente';\n  const medicoPac  = getParam('medico') || 'Médico';\n  const dataPac    = getParam('data')   || new Date().toLocaleDateString('pt-BR');\n  setPatient(nomePac, medicoPac, dataPac);\n\n  goTo(1);\n</script>\n</body>\n</html>\n","options":{"responseHeaders":{"entries":[{"name":"Content-type","value":"text/html"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[208,384],"id":"24542385-df15-4c37-9073-03925913b067","name":"Respond to Webhook"}],"connections":{"Disparar Teste Manualmente":{"main":[[{"node":"Dados Mock do Paciente","type":"main","index":0}]]},"Dados Mock do Paciente":{"main":[[{"node":"WAHA — Enviar Link Avaliação","type":"main","index":0}]]},"WAHA — Enviar Link Avaliação":{"main":[[{"node":"Responder OK","type":"main","index":0}]]},"Webhook Avaliação":{"main":[[{"node":"Preparar e Calcular Dados","type":"main","index":0}]]},"Preparar e Calcular Dados":{"main":[[{"node":"NPS Baixo? (≤ 7)","type":"main","index":0},{"node":"Responder OK ao Formulário","type":"main","index":0}]]},"NPS Baixo? (≤ 7)":{"main":[[{"node":"WAHA — Alerta Qualidade","type":"main","index":0}],[{"node":"NPS OK — sem alerta","type":"main","index":0}]]},"WAHA — Alerta Qualidade":{"main":[[{"node":"WAHA — Confirmação para Gestor","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Disparar Teste Manualmente":[{"json":{"headers":{"host":"plastic-whats-open-rent.trycloudflare.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"187.84.69.170","cf-ew-via":"15","cf-ipcountry":"BR","cf-ray":"9eb5e3681650a5bd-GRU","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"75111035-6bdb-49b3-b225-50ce3f963c07","cf-worker":"trycloudflare.com","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19eNpXsysKDDvl7xWRAFgwzmi2eOlR68w0%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19Hk9b%2Bzlted%2Bb4UIzC5dvekAcDy1k4ueg%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BbSKtUUsnIeu%2B8hWAljH3jk6RfRboofwUWrVT%2FhfPdATOQSN3cP88%2F7%2BovnOol0s8vbfcW1KMq5A%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19vsOwYzDonNpTpl%2F%2B2jSj7fXGOFKCyqpFit8yVyFHNHY1PPcWHX5FQQ2d1MsK9QnuIYmDfNi9L3Y8rlOzcZ5rmR2zW%2Bst63XhGg430g2BlumUYurtKPjO3TAaCKKG19ABhA%2BYpMHnIvqA940t9qZsRfylbtQRMzRY%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FFxIqFSFzFRHU8E6tE7kubp6fBB7JO7NcyuwI88upCu1%2FR%2F6YAkGEriR3trLoYKlJlwmBCtXW0zTDojQNXGHnB0VdKkuDzkg0wPSJxwqTP2fQvd%2B70qgcxwt2O7qxpcH3nw%2FN4tXbwfg3ZsIVj1%2BTxtJSFRlGUuvg%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19pj5X8NogpWYwA2HNDMl14vt55iAK%2BiKqRypfIjm%2BMP23zEYgrso98LVR8slICrW%2FeBb7rlvUj%2BFFLBBNK32GwtZdeAj6WWfHdWRyxsHmENA8ZiVZBP26VFg14RWmV1lORDeIANi7fPQ%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"187.84.69.170","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"http://host.docker.internal:5678/webhook/teste-envio-avaliacao","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"e6e56564-cfc0-4e3a-b2a3-5018c1d1dc1a","activeVersionId":"aabbef38-44d8-47ba-a949-07b435e21b3d","versionCounter":70,"triggerCount":4,"tags":[],"shared":[{"updatedAt":"2026-04-12T22:06:49.351Z","createdAt":"2026-04-12T22:06:49.351Z","role":"workflow:owner","workflowId":"EJUzm2aKH6sLITaxcPQ9J","projectId":"LZWJDGkejcu9c8Og","project":{"updatedAt":"2026-02-11T15:44:04.045Z","createdAt":"2026-02-10T18:40:23.427Z","id":"LZWJDGkejcu9c8Og","name":"CAINÃ ATAIDE <cainaataide48@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d242ea6d-9447-45db-a8a4-19443875d0cc"}}]}]